@import "var";

aside {
  // 왼쪽 사이드 메뉴바 스타일링
  max-width: 19rem;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  gap: 1rem 0;

  nav {
    border: none;
    width: 19rem;

    a {
      display: block;
      height: 4rem;
      padding-left: 1.5rem;
      line-height: 40px;
      font-weight: bold;
      color: $nav-font-color;
      background-color: white;

      &.lightblue {
        background-color: rgb(232, 240, 245);
      }
    }

    .subLinks {
      border: 1px solid $grey-border-color;
    }

    &>a {
      margin-bottom: 1rem;
      border: 1px solid $grey-border-color;
      background-color: $point-color;
      color: white;
    }
  }

  &>* {
    box-sizing: border-box;
    width: 100%;

    &.asidePadding {
      padding: 2rem 1rem;
    }

    &>img {
      width: 100%;
      vertical-align: top;
    }
  }

  .leftLogo {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    button {
      cursor: pointer;
      padding: 0.6rem;
      border: 1px solid $grey-border-color;
      text-align: center;
      background-color: transparent;
      cursor: default;

      &:hover {
        &::after{
          opacity: 1;
        }
      }

      &::after{
        position: absolute;
        content: '해당 기능은 인사담당자에게 문의하시기 바랍니다.';
        top: 6rem;
        left: 0;

        width: 100%;
        box-sizing: border-box;

        word-break: keep-all;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.6rem;
        background-color: #555;
        color: white;
        padding: 1rem;
        border-radius: 0.6rem;
        opacity: 0;
        transition: opacity 0.5s;
      }
    }
  }

  .recruitFormRegister {
    background-color: $sub-font-color;
    color: white;
    text-align: center;

    p {
      margin-bottom: 3px;
      font-size: 1.1rem;
    }

    a {
      padding: 2rem 0;
      font-weight: bold;
      display: block;

      span {
        vertical-align: middle;
        font-size: 1.4rem;
      }
    }
  }

}