@import "var";

.employersMain {
  .departmentBlock {
    position: relative;
    padding: 0.6rem 2.5rem;
    background-color: $grey-bg-color;
    border: 1px solid $point-color;
    cursor: default;
    
    &:hover {
      &::after{
        opacity: 1;
      }
    }

    &::after{
      position: absolute;
      content: '해당 기능은 인사담당자에게 문의하시기 바랍니다.';
      top: 4rem;
      left: 0;

      width: 100%;
      box-sizing: border-box;

      word-break: keep-all;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.6rem;
      background-color: #555;
      color: white;
      padding: 1rem;
      border-radius: 0.6rem;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }

  // 리크루터 관리 개별 스타일링
  .recruiterList {
    figure {
      position: relative;
      width: 12rem;
      height: 12rem;
      margin-top: 2rem;
      overflow: hidden;
      border-radius: 50%;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        object-fit: cover;
      }
    }

    .recruiterInfo {
      position: relative;
      flex: 2;
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      .flag {
        position: absolute;
        top: 0;
        right: 0;
      }

      &>div:first-of-type {
        display: flex;
        align-items: center;
        gap: 0 2rem;
        margin-bottom: 2rem;

        .recruiterName {
          
          font-size: 1.8rem;
          font-weight: 600;

          em {
            font-size: 1.2rem;
          }
        }

        .buttonStyling {
          color: $light-grey-font-color;
          background-color: transparent;
          font-size: 1.4rem;
          border-bottom: 1px solid $light-grey-font-color;
        }

      }

      &>p {
        line-height: 2.4rem;
        margin-top: 1rem;
        white-space: pre-wrap;

        &:nth-of-type(2) {
          width: inherit;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          word-wrap: break-word;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .showMore {
        display: block;
        text-align: right;
        text-decoration: underline;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }

    .selectRecruiter {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $base-bg-color;

      &>button {
        width: 80%;

        &.selectedRecruiter {
          padding: 6px 2.5rem;

          border: 1px solid $point-color;
          background-color: transparent;
          color: $point-color;
          font-weight: 600;
        }
      }

      ul {
        display: flex;
        width: 100%;
        margin-top: 3rem;

        li {
          flex: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          text-align: center;

          &:not(:last-child) {
            span {
              border-right: 1px solid $grey-border-color;
            }
          }

          span {
            width: 100%;
            display: inline-block;
            margin-bottom: 1rem;
            font-size: 1.2rem;
          }

          strong {
            word-break: keep-all;
            text-align: center;
            font-size: 1.4rem;
            color: $point-color;
            font-weight: 600;
            
            &.noData {
              display: none;
            }
          }

        }
      }
      .noOptions{
        background-color: white;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 1rem 0;
      }
      
    }
  }

  // 후보자 관리 개별 스타일링
  .candidateList {
    .stars {
      cursor: pointer;

      span:hover {
        content: 'e885';
        font-family: 'Material Icons';
      }
    }

    .candidateButtons {
      display: flex;
      align-items: center;
      gap: 0 0.6rem;
      button:first-of-type {
        margin-right: 2rem;
      }

      button:last-of-type {
        margin-left: 1rem;
      }
    }

    .blueButton {
      background-color: #3495d4;
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 0.6rem 2.5rem;
      border: 1px solid $grey-border-color;
    }

    .candidateInfo {
      flex: 1;
      padding: 2rem;

      form {
        textarea {
          width: 100%;
        }
      }

      &>div:first-child {
        display: flex;
        align-items: center;
        gap: 0 2rem;
        margin-bottom: 2rem;

        .candidateName {
          font-size: 1.8rem;
          font-weight: 600;

          em {
            font-size: 1.2rem;
          }
        }

        span {
          b {
            font-weight: 600;
          }
        }
      }

      &>p {
        margin-bottom: 2rem;
        color: $light-grey-font-color;

        strong {
          font-weight: 600;
        }

        button {
          padding: 0;
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          color: $light-grey-font-color;
          border-bottom: 1px solid $light-grey-font-color;
        }

        time {
          border-left: 1px solid $grey-border-color;
          margin-left: 1rem;
          padding-left: 1rem;
        }
      }

    }

    .notification {
      width: 30rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem 0;
      background-color: #C3E2F0;

      .memo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 1rem;

        button {
          background-color: white;
          border: 1px solid $grey-border-color;
          color: $input-font-color;
          font-size: 1.2rem;
          padding: 0.6rem 1rem;
        }

        textarea {
          display: block;
          margin: 1rem 0 2rem;
        }
      }

      form {
        gap: 0 1rem;

        select {
          flex: 1;
        }

        .resultSendButton {
          background-color: white;
          height: 3.2rem;
          padding: 0 2rem;
          font-size: 1.2rem;
          color: $light-grey-font-color;
        }
      }
    }
  }

  // Q&A 관리 개별 스타일링
  .qnaList {
    p {
      margin: 0.6rem 0;
      font-size: 1.2rem;
      line-height: 1.8rem;

      &.lightColored {
        color: #b0b0b0;
      }
    }

    img {
      width: 1.2rem;
      margin-right: 3px;
      vertical-align: middle;
    }

    .commentInput {
      display: flex;
      align-items: center;
      gap: 0 6px;

      input[type=text] {
        flex: 1;
      }
    }

    &>div:first-child {
      border-bottom: 1px solid $grey-border-color;

      h5 {
        font-weight: 600;
        padding: 1rem 2rem;
        border: 1px solid $grey-border-color;
      }

      span {
        font-size: 1.2rem;
        color: $grey-font-color;

        strong {
          font-weight: bold;
        }
      }
    }

    &>ul {
      padding: 1rem 1rem 1rem 2rem;

      &>li {
        margin-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $grey-border-color;

        span {
          font-size: 1.2rem;

          strong {
            margin-right: 1rem;
            font-weight: 600;
            border-bottom: 1px solid $base-font-color;
          }

          time {
            margin-left: 1rem;
          }
        }

        p {
          margin: 1rem 0;
        }

        .reply {
          display: flex;
          align-items: center;
          gap: 0 6px;

          input[type=text] {
            flex: 1;
          }

          padding-top: 1rem;
        }

        .replyText {
          margin-left: 2rem;

          li {
            padding: 1rem 0;
            border-bottom: 1px solid $light-border-color;
          }
        }

        .secretComment {
          span.material-icons {
            vertical-align: middle;
            color: $point-btn-color;
          }
        }
      }
    }
  }

  // 리크루터, 후보자 관리 공통 스타일링
  .recruiterList,
  .candidateList {

    .stars {
      span {
        vertical-align: middle;
        font-size: 1.5rem;
        color: $point-color;
        font-weight: 700;

        &.active {
          content: 'e885';
          font-family: 'Material Icons';
        }
      }
    }

    h5 {
      margin-bottom: 1rem;
      line-height: 3rem;
      color: $light-grey-font-color;
      font-weight: 600;

      strong {
        font-size: $title-font-size;
        color: $sub-font-color;
      }
    }

    &>form {
      display: flex;
      align-items: center;

      &~div {
        select {
          display: inline-block;
          box-sizing: border-box;
          height: 3.2rem;
          margin-right: 1rem;
          padding: 0.6rem 1rem;
          color: $input-font-color;
          font-size: 12px;
          border: 1px solid $grey-border-color;
          line-height: 3.2rem;
        }
      }
    }

    ul.searchFilters {
      display: flex;
      gap: 0 3px;

      li {
        display: flex;
        // align-items: center;
        cursor: pointer;
        background-color: #ffffff;
        border: 1px solid $grey-border-color;
        color: $input-font-color;
        font-size: $label-font-size;
        padding: 0.6rem 1.5rem;

        &>span {
          display: inline-block;
          margin-right: 0.6rem;
        }
  
        &.ascending {
          .filterArrow span:first-child {
            opacity: 1;
            border-bottom: 6px solid #7A80DD;
          }
  
          .filterArrow span:last-child {
            opacity: 0;
          }
        }
  
        &.descending {
          .filterArrow span:first-child {
            opacity: 0;
          }
  
          .filterArrow span:last-child {
            opacity: 1;
            border-top: 6px solid #7A80DD;
          }
        }
  
        .filterArrow {
          position: relative;
          width: 6px;
          height: 8px;
          top: 2px;
  
          span {
            position: absolute;
            left: 0;
  
            &:first-child {
              top: 0;
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-bottom: 6px solid $basic-btn-color;
            }
  
            &:last-child {
              top: 100%;
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 6px solid $basic-btn-color;
            }
          }
  
        }
      }
    }

    ul.recruiters {
      &>li {
        display: flex;
        gap: 0 2rem;
        border-bottom: 1px solid $grey-border-color;
        border-top: 1px solid $grey-border-color;

        &:first-child {
          margin-top: 2rem;
        }

        p {
          span {
            display: block;
            text-decoration: underline;
            text-align: right;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

}