@import "var";

.modalButtonStyling {
  margin-top: 6px;
  @include modalOpenButton();
}

form.employersForm {
  .radioList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &>div {
      display: flex;
      align-items: center;
      border: 1px solid $grey-border-color;
      padding: 2px 0 2px 5px;
      margin-bottom: 1rem;
      background-color: $base-bg-color;

      &.radio1 {
        background-color: #ebefe1;
      }

      &.radio2 {
        background-color: #f1e9e0;
      }

      &.radio3 {
        background-color: #dff1f0;
      }

      label {
        margin-left: 6px;
        font-size: 1.4rem;
      }

    }
  }

  .formButton {
    background-color: $sub-bg-color;
    border: 1px solid $grey-border-color;
    color: $input-font-color;
    font-size: 12px;
    padding: 6px 10px 6px 10px;
  }

  textarea {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border: 1px solid $grey-border-color;
  }


  input[type=search] {
    width: 35rem;
  }

  &.recruitForm {

    .formTitle {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $grey-border-color;

      h1 {
        font-size: 2.4rem;
        font-weight: bold;
        color: $sub-font-color;
        padding-bottom: 2rem;
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-size: $title-font-size;
          font-weight: bold;
          color: $light-dark-color;
        }

        label {
          display: inline-block;
          margin-right: 6px;
          color: $input-font-color;
        }
      }
    }

    .formWrap {
      width: 100%;

      h2 {
        font-size: $title-font-size;
        font-weight: bold;
        color: $sub-font-color;
        padding-bottom: 2rem;

        em {
          font-size: $paragraph-font-size;
          color: $grey-font-color;
        }
      }

      .fileUploadGuide {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        color: $grey-font-color;
        font-weight: 700;
        font-size: $paragraph-font-size;
        line-height: 1.8rem;
      }

      .infoBox {
        text-align: center;
        padding: 3rem 0px;
        font-size: 1.2rem;
        color: $light-grey-font-color;
        background-color: $base-bg-color;
      }

      .fileBox {
        width: 100%;
        margin: 6px 0;

        &.inlineFileBox {
          margin-top: 6px;

          &.active{
            display: block;
          }
          
          &>div {
            justify-content: flex-start;
          }
        }

        &>div {
          display: flex;
        }

        .fileInput {
          display: none;
        }

        label {
          cursor: pointer;
          padding: 6px 10px;
          background-color: $btn-bg-color;
          border: 1px solid $grey-border-color;
          color: $input-font-color;
          font-size: $label-font-size;
          min-width: fit-content;
        }

        .fileName {
          display: inline-block;
          width: 100%;
          height: 3.6rem;
          line-height: 3.2rem;
          padding: 0 1rem;
          box-sizing: border-box;
        }
      }

      .formWrapInputs {
        padding: 1rem;
        margin-bottom: 2rem;
        background-color: $base-bg-color;
        border: 1px solid $grey-border-color;
        color: $light-grey-font-color;

        .fileDownload {
          display: inline-block;
          margin: 0.5rem 0;
          border-bottom: 1px solid $grey-border-color;
          color: $point-color;
        }

        &>p.editorText {
          padding: 2rem;
          color: black;
          background-color: white;
          border: 1px solid $grey-border-color;
        }

        &>ul {
          margin-bottom: 1rem;

          &>li {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            min-height: 5rem;
            height: auto;
            padding: 1rem 1rem 1rem 2rem;
            background-color: white;
            border: 1px solid $grey-border-color;

            span.labelSpan,
            &>label {
              line-height: 3.2rem;
              font-size: $label-font-size;
              display: inline-block;
              min-width: 12rem;
            }

            span.spanText {
              font-size: $base-font-size;
              color: black;
              line-height: 3.2rem;

              strong {
                color: #09C;
                font-size: 1.6rem;
                font-weight: bold;
              }
            }

            span.totalText {
              margin-left: 6px;
            }

            input[type=radio],
            input[type=checkbox] {
              vertical-align: middle;
              display: inline-block;
              margin-right: 3px;
              line-height: 3.2rem;
            }

            input[type=radio]~label,
            input[type=checkbox]~label {
              display: inline-block;
              margin-right: 1rem;
              line-height: 3.2rem;
            }

            .extraInput {
              margin-top: 6px;
            }

            .fullWidth {
              min-width: 55rem;
            }

            .inbox {
              display: flex;
              align-items: center;
              background-color: $base-bg-color;
              border: 1px solid $grey-border-color;
              padding: 6px 1rem;
              margin-top: 5px;
              line-height: 2rem;

              span {
                margin-right: 1rem;
              }
            }

          }

          &.twoCol {
            display: flex;

            li {
              flex: 1;

              &:last-child {
                margin-left: 1rem;
              }
            }
          }


        }
      }
    }


  }

}

// 마이페이지 폼 스타일링
.mypageWrap {

  form {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4rem;

    .formSection {
      border-bottom: 1px solid $grey-border-color;
      padding: 0 0 3rem;

      input,
      select {
        width: 100%;
        height: 3.6rem;
        border-radius: 1rem;
      }

      &>div:not(.tooltipBox) {
        margin-top: 3rem;

        &>div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &.fileUpload {
            display: flex;
            align-items: center;
            
            &>span {
              display: flex;
              align-items: center;
              justify-content: center;

              box-sizing: border-box;
              display: inline-block;
              height: 3.6rem;
              margin-right: 1rem;
              padding: 1rem;
              border-radius: 1rem;
              background-color: #f2f2f7;

              span {
                color: $form-blue-color;
                font-size: 1.8rem;
              }

              &.fileName {
                flex: 1;
              }

            }

            .fileInput {
              display: none;
            }

            label {
              @include blueButton();
            }
          }


        }
      }

      .tooltipBox {
        position: relative;
        
        &>p {
          display: inline-block;
          margin: 1rem 0;
          padding: 0.5rem;
          border-radius: 0.5rem;
          color: #8e8e93;
          font-size: 1.4rem;
          font-weight: 600;
          transition: all 0.5s;
          cursor: pointer;

          &:hover {
            background: rgba(0, 0, 0, 0.04);

            &+.tooltip {
              opacity: 0.9;
            }
          }

          span {
            vertical-align: middle;
            font-size: 1.6rem;
          }
        }

        .tooltip {
          font-size: 1rem;
          font-weight: 600;
          position: absolute;
          top: 4rem;
          line-height: 1.6rem;
          background-color: $input-font-color;
          color: white;
          padding: 1rem;
          border-radius: 0.6rem;
          opacity: 0;
          transition: opacity 0.5s;
        }
      }


      label {
        display: block;
        margin-bottom: 0.5rem;
        font-family: Noto Sans KR, Roboto, sans-serif;
        color: $form-blue-color;
        font-size: 1.3rem;
      }

      select {
        width: 30%;
      }

      input:read-only {
        background-color: #8e8e93;
        color: white;
      }

      button[type=button] {
        @include formButton();
      }
    }

    input[type=button] {
      cursor: pointer;
      display: block;
      width: 100%;
      height: 5rem;
      border-radius: 1rem;
      color: white;
      box-shadow: none;
      font-weight: 600;
      background-color: $form-blue-color;
    }
  }
}