@import "var";

.searchResult {
  background-color: white;
  padding: 3rem;

  &>p {
    font-size: $paragraph-font-size;
    color: $grey-font-color;
    border-bottom: 1px solid $grey-border-color;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    strong {
      color: #000000;
      font-weight: 600;
    }

  }

  table {
    width: 100%;
    // border-top: 1px solid $grey-border-color;
    border-bottom: #ececec 1px solid;
    border-collapse: collapse;

    thead {
      border-top: #ececec 1px solid;
      border-bottom: #ececec 1px solid;
      height: 4rem;
      background: $table-bg-color;
      color: $grey-font-color;
      font-weight: 600;

      th {
        border: none;
        text-align: center;
      }
    }

    tbody {
      tr {
        height: 5rem;

        td {
          border: none;
          color: $input-font-color;
          text-align: center;

          a {
            border-bottom: 1px solid $grey-border-color;
            padding-bottom: 3px;
          }

          &.tableTitle {
            text-align: left;
          }
        }
      }
    }
  }
}