@import "var";

.noRecruitList {
  // 내역없을 때 화면 스타일링
  padding: 2.5rem;
  background-color: $base-bg-color;
  border: 1px solid $grey-border-color;
  color: $light-grey-font-color;
  text-align: center;
}

main.employersMain {
  form.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    gap: 0 0.6rem;
    background-color: $grey-bg-color;
  }

  .recruitLists {
    background-color: white;

    .listNotice {
      border-top: 1px solid #e1e1e1;
      line-height: 2.4rem;
      color: $grey-font-color;
      padding: 2rem 0 5rem 1rem;
      margin-top: 5rem;
    }

    &>div {
      margin-top: 2rem;

      ul {
        li.ingListColumn {
          display: flex;
          justify-content: space-between;
          margin-top: 1rem;
          border: 1px solid $grey-border-color;
        }
      }
    }

  }

  section {

    // 검수중, 진행중 채용공고 서브페이지 스타일링
    .confirmingList,
    .ingList,
    .doneList {
      .ingListColumn {
        display: flex;
        flex-direction: column;
        padding: 0;

        &>.listTop {
          padding: 2rem;
          display: flex;
          justify-content: space-between;
        }

        .idManage {
          display: flex;
          justify-content: space-between;
          align-items: center;

          box-sizing: border-box;
          width: 100%;
          height: 3.5rem;
          padding-left: 2rem;
          border-top: 1px solid $grey-border-color;

          span {
            color: rgb(120, 149, 48);
            font-size: 1.3rem;
            font-weight: 600;
          }

          a {
            display: inline-block;
            height: 100%;
            line-height: 3.5rem;
            padding: 0 1rem;
            background-color: $sub-font-color;
            font-size: 1.2rem;
            color: white;
          }
        }
      }

      &>ul {
        &>li {
          display: flex;
          justify-content: space-between;
          border: 1px solid $grey-border-color;
          padding: 2rem;
          margin-bottom: 2rem;

          .qnaStatus {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
              display: block;
              flex: 1;
              padding: 3px 0;
              background-color: #E4EFF5;
              border-radius: 3rem;
              text-align: center;
              font-size: 1.1rem;

              span {
                border-bottom: 1px solid $grey-bg-color;
                color: $light-grey-font-color;

                strong {
                  color: #0072bd;
                }
              }
            }

          }

          .listLeft {

            h3 {
              display: inline-block;
              max-width: 45rem;
              margin-bottom: 2rem;
              color: $dark-font-color;
              font-weight: 600;
              font-size: 1.6rem;
              line-height: 2.4rem;

              &:hover{
                text-decoration: underline;
              }
            }

            button.recruitingClosed {
              box-sizing: border-box;
              cursor: default;
              border: 1px solid $red-color;
              background-color: transparent;
              color: $red-color;
              font-weight: 600;
              padding: 6px 2.5rem;
              font-size: 12px;
            }

            p {
              max-width: 50rem;
              font-size: $paragraph-font-size;
              color: $grey-font-color;
              line-height: 2rem;

              button {
                margin-left: 3px;
                padding: 0 1rem;
                color: $input-font-color;
                font-size: 1.2rem;
                background-color: white;
                border: 1px solid $grey-border-color;
              }
            }

            &>button:not(.modalButtonStyling) {
              background-color: #ffffff;
              border: 1px solid $grey-border-color;
              color: $grey-font-color;
              font-size: 1.1rem;
              padding: 2px 12px;
              margin-left: 3px;
            }
          }

          span.confirmingStatus {
            width: 5rem;
            height: 5rem;
            font-weight: 600;
            text-align: center;
            line-height: 5rem;
            display: inline-block;
            border-radius: 50%;
            background-color: #DBECF6;
            color: $point-font-color;

            &.rejected {
              background: #FFD9D9;
              color: #D72424;
            }
          }
        }

        div.listRight {

          &>p {
            text-align: center;
            width: 100%;
            margin-top: 7px;
            font-size: 1.1rem;
          }

          div.threeSections {
            display: flex;

            &>div {
              display: flex;
              flex-direction: column;
              align-items: center;

              &:not(:last-child) {
                span {
                  border-right: 1px solid $grey-border-color;
                }
              }

              span {
                display: inline-block;
                padding: 0 1rem;
                font-size: 1.1rem;
                color: $grey-font-color;
              }

              &:nth-child(1) {
                a {
                  color: #789530;
                }
              }

              a {
                display: inline-block;
                box-sizing: border-box;
                margin: 1rem 0;
                font-size: $paragraph-font-size;
                font-weight: 700;
                border-bottom: 1px solid $grey-border-color;

                strong {
                  color: $red-color;
                }
              }

            }
          }


        }

      }

    }

    // 현업부서 아이디 관리 페이지 스타일링
    .idManagement {
      margin-bottom: 1.5rem;
      padding: 2rem;
      border: 1px solid $light-border-color;

      &:not(:first-child) {
        margin-top: 2rem
      }

      .idTableWrap {

        table.idTable {
          width: 100%;
          margin: 2rem 0;
          border-collapse: collapse;
          border: 1px solid $grey-border-color;

          tbody {
            tr {
              &:hover {
                background-color: #f3f4f6;
              }

              td {

                &>div {
                  width: fit-content;

                  button {
                    word-break: keep-all;
                  }
                }

                &:nth-child(1) {
                  box-sizing: border-box;
                  width: 2rem;
                }

                padding: 8px;
                border: 1px solid $grey-border-color;

              }
            }
          }
        }
      }

      .buttons {
        margin-top: 4rem;
      }

      &~.idButtons {
        align-items: center;
        gap: 0 6px;
      }

      .matchingLists {
        padding-top: 2rem;
        border-top: 1px solid #e9e9e9;

        b {
          font-weight: 700;
          margin-right: 2rem;
        }
        &>div{
          padding: 1rem 2rem;
          border: 1px solid #e9e9e9;
        }
        ul{
          li{
            background: #dddddd;
            margin-bottom: 1px;
            padding: 1rem 0 1rem 4rem;
          }
        }
      }
    }

    // 공지사항 페이지 스타일링
    .noticeWrap {
      ul.noticeTabButton {
        display: flex;
        align-items: center;
        width: 100%;
        height: 4rem;
        border-bottom: 1px solid $point-color;

        li {
          flex: 1;
          width: 100%;
          height: inherit;
          line-height: 4rem;
          text-align: center;
          cursor: pointer;

          &.active {
            background-color: $point-color;
            color: white;

            &:hover {
              background-color: $point-color;
              color: white;
            }
          }

          &:hover {
            background-color: #eeeeee;
          }
        }
      }

      .noticeTabContent {

        &>ul {
          display: flex;
          flex-direction: column;

          &>li {
            box-sizing: border-box;
            width: 100%;
            height: auto;
            padding: 1rem 2rem;
            cursor: pointer;
            border-bottom: 1px solid $grey-border-color;

            &>div:first-child {
              box-sizing: border-box;
              width: 100%;
              height: 4rem;
              display: flex;
              align-items: center;
              justify-content: space-between;

              div:first-child{
                span:first-child {
                  display: inline-block;
                  width: 2rem;
                }
              }
              span.material-icons {
                font-size: 2rem;
                vertical-align: middle;
              }
            }

            &>div:last-child {
              overflow: hidden;
              padding-left: 2rem;
              line-height: 2rem;
              transition: max-height 0.2s ease;
            }

            &.active {
              .material-icons {
                transition: all 0.3s;
                transform: rotate(-180deg);
              }
            }
          }
        }
      }
    }

    // 기존 거래 써치펌 주소록 스타일링
    .searchFirmWrap {
      margin-bottom: 2rem;
      padding: 2rem;
      border: 1px solid $light-border-color;

      h3 {
        span {
          color: #789530;
        }
      }

      .infoParagraph {
        p {
          font-size: $paragraph-font-size;
          color: $base-font-color;
          line-height: 1.8rem;
        }
      }

    }

    // 비용 관리 페이지 스타일링
    .paymentWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 3rem;
      border: 1px solid $grey-border-color;

      &>div {
        width: 45rem;

        h5 {
          font-size: 1.6rem;
          font-weight: 600;
          color: $dark-font-color;
        }

        p {
          margin: 2rem 0 3rem;
          font-size: 1.2rem;
          color: $grey-font-color;
          line-height: 1.8rem;
        }

        h6 {
          padding-bottom: 2rem;
          border-bottom: 1px solid $light-grey-font-color;
          font-size: 1.3rem;
          font-weight: 600;
        }

        ul {
          margin: 2rem 1rem;

          li {
            color: black;
            list-style: disc;
            font-weight: 600;
          }
        }
      }
    }
  }
}