@import "var";

aside {
  // 왼쪽 사이드 메뉴바 스타일링
  max-width: 19rem;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  gap: 1rem 0;

  &>* {
    box-sizing: border-box;
    width: 100%;
    background-color: white;

    &.asidePadding {
      padding: 2rem 1rem;
    }

    &>img {
      width: 100%;
      vertical-align: top;
    }
  }

  .recruiterProfile {
    p {
      font-weight: 600;
      font-size: 1.8rem;
      color: $light-dark-color;
    }

    em {
      display: block;
      margin: 1rem 0;
      font-size: 1.2rem;
      color: $grey-font-color;
    }

    .stars {
      span:last-child {
        font-size: 1.2rem;
        font-weight: 800;
      }
    }
  }

  .availableCase {
    p {
      margin: 2px 0;
      font-size: 1.1rem;
    }
  }

  .recruitFormList {
    background-color: $green-color;
    color: white;
    text-align: center;

    p {
      margin-bottom: 3px;
      font-size: 1.1rem;
    }

    a {
      padding: 2rem 0;
      font-weight: bold;
      display: block;

      span {
        vertical-align: middle;
        font-size: 1.4rem;
      }
    }
  }

  nav {
    width: 19rem;
    border: none;
    background-color: transparent;

    a {
      display: block;
      height: 4rem;
      padding-left: 1.5rem;
      line-height: 40px;
      font-weight: bold;
      color: $nav-font-color;
      background-color: white;

      &.lightGreen {
        background-color: $light-green-color;
      }
    }

    .subLinks {
      border: 1px solid $grey-border-color;
    }

    &>a {
      margin-bottom: 1rem;
      border: 1px solid $grey-border-color;
      background-color: $point-color;
      color: white;
    }
  }
}

.candidateContact {
  width: 100%;

  .mailWrap {
    max-width: 500px;
    padding: 20px;
    border: 1px solid #333;
    background-color: white;

    header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;

      &>img {
        width: 10rem;
      }
    }

    .content {
      padding: 2rem 0;

      h1 {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 700;
        color: #666;
      }

      section {
        margin: 2rem 0;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        padding: 2rem;
        background-color: #E2F1F7;
        text-align: start;
        font-size: 1.4rem;
      }
    }

    .agreeButton {
      
      button {
        padding: 1rem 2rem;
        border-radius: 0.4rem;
        background-color: $input-font-color;
        color: white;
      }
    }
  }
}