@import "var";

.modalButtonStyling {
  margin-top: 6px;
  @include modalOpenButton();
}

form.recruitersForm {
  .radioList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &>div {
      display: flex;
      align-items: center;
      border: 1px solid $grey-border-color;
      padding: 2px 0 2px 5px;
      margin-bottom: 1rem;
      background-color: $base-bg-color;

      &.radio1 {
        background-color: #ebefe1;
      }

      &.radio2 {
        background-color: #f1e9e0;
      }

      &.radio3 {
        background-color: #dff1f0;
      }

      label {
        margin-left: 6px;
        font-size: 1.4rem;
      }

    }
  }

  button.formButton {
    background-color: $sub-bg-color;
    border: 1px solid $grey-border-color;
    color: $input-font-color;
    font-size: 12px;
    padding: 6px 10px 6px 10px;
  }

  textarea {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border: 1px solid $grey-border-color;
  }


  input[type=search] {
    width: 35rem;
  }

  &.recruitForm {
    .formTitle {

      h1 {
        font-size: 2.4rem;
        font-weight: bold;
        color: $green-color;
        padding-bottom: 2rem;
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-size: $title-font-size;
          font-weight: bold;
          color: $light-dark-color;
        }

        label {
          display: inline-block;
          margin-right: 6px;
          color: $input-font-color;
        }
      }
    }

    .formWrap {
      width: 100%;

      h2 {
        font-size: $title-font-size;
        font-weight: bold;
        color: $green-color;
        padding-bottom: 2rem;

        em {
          font-size: $paragraph-font-size;
          color: $grey-font-color;
        }
      }

      .fileUploadGuide {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        color: $grey-font-color;
        font-weight: 700;
        font-size: $paragraph-font-size;
        line-height: 1.8rem;
      }

      .infoBox {
        text-align: center;
        padding: 3rem 0px;
        font-size: 1.2rem;
        color: $light-grey-font-color;
        background-color: $base-bg-color;
      }
      
      p {
        line-height: 1.8rem;
      }

      .fileBox {
        display: flex;
        align-items: center;
        
        width: 100%;
        margin: 6px 0;


        &.inlineFileBox {
          margin-top: 6px;

          &>div {
            justify-content: flex-start;
          }
        }

        &>div {
          display: flex;
        }

        .fileInput {
          display: none;
        }

        label {
          cursor: pointer;
          padding: 6px 10px;
          background-color: $btn-bg-color;
          border: 1px solid $grey-border-color;
          color: $input-font-color;
          font-size: $label-font-size;
        }

        .fileName {
          display: inline-block;
          width: fit-content;
          height: 3.2rem;
          line-height: 3.2rem;
          padding: 0 1rem;
          box-sizing: border-box;
        }

      }

      .formWrapInputs {
        border: 1px solid blue;
        padding: 1rem;
        margin-bottom: 2rem;
        background-color: $base-bg-color;
        border: 1px solid $grey-border-color;
        color: $light-grey-font-color;

        .fileDownload {
          display: inline-block;
          margin: 0.5rem 0;
          border-bottom: 1px solid $grey-border-color;
          color: $point-color;
        }
        &>p.editorText {
          padding: 2rem;
          color: black;
          background-color: white;
          border: 1px solid $grey-border-color;
        }

        &>ul {
          margin-bottom: 1rem;

          &>li {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            min-height: 5rem;
            height: auto;
            padding: 1rem 1rem 1rem 2rem;
            background-color: white;
            border: 1px solid $grey-border-color;

            &.fileColumn{
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
            }

            span.labelSpan,
            &>label {
              line-height: 3.2rem;
              font-size: $label-font-size;
              display: inline-block;
              min-width: 12rem;
            }

            span.spanText {
              font-size: $base-font-size;
              color: black;
              line-height: 3.2rem;

              strong {
                color: #09C;
                font-size: 1.6rem;
                font-weight: bold;
              }
            }

            span.totalText {
              margin-left: 6px;
            }

            .searchAddress {
              min-width: 60px;
              margin-right: 3px;
              padding: 0.6rem 1rem;
              background-color: #f9f9f9;
              border: 1px solid $form-border-color;
              color: $input-font-color;
              font-size: 12px;
              cursor: pointer;
            }
            
            input[type=radio],
            input[type=checkbox] {
              vertical-align: middle;
              display: inline-block;
              margin-right: 3px;
              line-height: 3.2rem;
            }

            input[type=radio]~label,
            input[type=checkbox]~label {
              display: inline-block;
              margin-right: 1rem;
              line-height: 3.2rem;
            }

            .extraInput {
              margin-top: 6px;
            }

            .fullWidth {
              min-width: 55rem;
            }

            .inbox {
              display: flex;
              align-items: center;
              background-color: $base-bg-color;
              border: 1px solid $grey-border-color;
              padding: 6px 1rem;
              margin-top: 5px;
              line-height: 2rem;

              span {
                margin-right: 1rem;
              }
            }

            .suggestedCommission{
              display: inline-block;
              background-color: $light-blue-color;
              border: 1px solid $grey-border-color;
              padding: 6px 1rem;
              margin-top: 5px;
              line-height: 2rem;
              font-weight: 600;
              color: black;
            }

          }

          &.twoCol {
            display: flex;

            li {
              flex: 1;

              &:last-child {
                margin-left: 1rem;
              }
            }
          }


        }
      }
    }


  }
}