@import "var";

// 리크루터 관리 개별 스타일링
.recruitersMain {

  .recruiterLists {
    figure {
      position: relative;
      width: 12rem;
      height: 12rem;
      margin-top: 2rem;
      overflow: hidden;
      border-radius: 50%;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        object-fit: cover;
      }
    }

    .recruiterInfo {
      flex: 2;
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      &>div:first-of-type {
        display: flex;
        align-items: flex-end;
        gap: 0 2rem;
        margin-bottom: 2rem;

        .recruiterName {
          font-size: 1.8rem;
          font-weight: 600;

          em {
            font-size: 1.2rem;
          }
        }

        button:not(.basicButton) {
          color: $light-grey-font-color;
          background-color: transparent;
          border-bottom: 1px solid $light-grey-font-color;
        }

        button.modalOpenButton {
          padding: 0;
          margin: 0;
          border: none;
          border-bottom: 1px solid $grey-border-color;
        }

      }

      &>p {
        line-height: 2.4rem;
        margin-top: 1rem;
        white-space: pre-wrap;

        &:nth-of-type(2) {
          width: inherit;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          word-wrap: break-word;
          text-overflow: ellipsis;
          overflow: hidden;

          a {
            display: block;
            text-align: right;
            text-decoration: underline;
            margin-bottom: 1rem;
            font-size: 1.2rem;
          }
        }
      }

    }

    .selectRecruiter {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $base-bg-color;

      &>button {
        width: 80%;

        &.selectedRecruiter {
          padding: 6px 2.5rem;

          border: 1px solid $point-color;
          background-color: transparent;
          color: $point-color;
          font-weight: 600;
        }
      }

      ul {
        display: flex;
        width: 100%;
        margin-top: 3rem;

        li {
          flex: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          text-align: center;

          &:not(:last-child) {
            span {
              border-right: 1px solid $grey-border-color;
            }
          }

          span {
            width: 100%;
            display: inline-block;
            margin-bottom: 1rem;
            font-size: 1.2rem;
          }

          strong {
            word-break: keep-all;
            text-align: center;
            font-size: 1.4rem;
            color: $point-color;
            font-weight: 600;
          }

        }
      }
    }
  }

  // 후보자 관리 개별 스타일링
  .candidateList {
    .stars {
      cursor: pointer;

      span:hover {
        content: 'e885';
        font-family: 'Material Icons';
      }
    }

    .blueButton {
      background-color: #3495d4;
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 0.6rem 2.5rem;
      border: 1px solid $grey-border-color;
    }

    .candidateInfo {
      flex: 1;
      padding: 2rem;

      form {
        textarea {
          width: 100%;
        }
      }

      &>div:first-child {
        display: flex;
        align-items: center;
        gap: 0 2rem;
        margin-bottom: 2rem;

        .candidateName {
          display: flex;
          align-items: center;
          gap: 0 6px;

          font-size: 1.8rem;
          font-weight: 600;

          em {
            font-size: 1.2rem;
          }
        }

        span {
          font-size: 1.2rem;

          b {
            font-weight: 600;
          }
        }
      }

      &>p {
        margin-bottom: 2rem;
        color: $light-grey-font-color;
        font-size: 1.2rem;
        line-height: 1.8rem;
        border-left: none;

        strong {
          font-weight: 600;
        }

        button {
          padding: 0;
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          color: $light-grey-font-color;
          border-bottom: 1px solid $light-grey-font-color;
        }

      }

    }

    .notification {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem 0;
      background-color: #f5f5f5;
      min-width: 20rem;

      .recruitersForm {
        select {
          width: 100%;
          text-align: center;
        }
      }


      .recruiterMemo {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 2rem;

        a {
          color: $base-font-color;
          border-bottom: 1px solid $base-font-color;
          font-size: 1.2rem;
        }
      }
    }
  }

  // Q&A 관리 개별 스타일링
  .qnaList {
    p {
      margin: 0.6rem 0;
      font-size: 1.2rem;
      line-height: 1.8rem;

      &.lightColored {
        color: #b0b0b0;
      }
    }

    img {
      width: 1.2rem;
      margin-right: 3px;
      vertical-align: middle;
    }

    .commentInput {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      gap: 0 6px;

      input[type=text] {
        flex: 1;
      }

      &>div {
        width: 15rem;
        margin-inline: 0.3rem;

        .material-icons {
          vertical-align: middle;
          font-size: 1.4rem;
          color: $blue-bg-color;
        }

        input[type=checkbox] {
          margin-right: 3px;
          vertical-align: middle;
        }
      }
    }

    &>div:first-child {
      border-bottom: 1px solid $grey-border-color;

      h5 {
        font-weight: 600;
        padding: 1rem 2rem;
        border: 1px solid $grey-border-color;
      }

      span {
        font-size: 1.2rem;
        color: $grey-font-color;

        strong {
          font-weight: bold;
        }
      }
    }

    &>ul {
      padding: 1rem 1rem 1rem 2rem;

      &>li {
        margin-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $grey-border-color;

        span {
          font-size: 1.2rem;
        }

        p {
          margin: 1rem 0;

          .secretMarker {
            margin-right: 6px;

            .material-icons {
              vertical-align: middle;
              color: $blue-bg-color;
            }
          }
        }

        .reply {
          display: flex;
          align-items: center;
          gap: 0 6px;

          input[type=text] {
            flex: 1;
          }

          padding-top: 1rem;
        }

        .replyText {
          margin-left: 2rem;

          li {
            padding: 1rem 0;
            border-bottom: 1px solid $light-border-color;
          }
        }
      }
    }
  }

  // 리크루터, 후보자 관리 공통 스타일링
  .recruiterList,
  .candidateList {
    select {
      display: inline-block;
      box-sizing: border-box;
      height: 3.2rem;
      padding: 0 1rem;
      color: $input-font-color;
      font-size: 12px;
      border: 1px solid $grey-border-color;
      line-height: 3.2rem;
    }

    h5 {
      margin-bottom: 1rem;
      line-height: 3rem;
      color: $light-grey-font-color;
      font-weight: 600;

      strong {
        font-size: $title-font-size;
        color: $sub-font-color;
      }
    }

    &>form {
      display: flex;
      align-items: center;

      input[type=search] {
        margin-right: 6px;
      }

      &~div {
        select {
          display: inline-block;
          box-sizing: border-box;
          height: 3.2rem;
          margin-right: 1rem;
          padding: 0.6rem 1rem;
          color: $input-font-color;
          font-size: 12px;
          border: 1px solid $grey-border-color;
          line-height: 3.2rem;
        }


      }
    }

    ul.searchFilters {
      display: flex;
      gap: 0 3px;

      li {
        display: flex;
        // align-items: center;
        cursor: pointer;
        background-color: #ffffff;
        border: 1px solid $grey-border-color;
        color: $input-font-color;
        font-size: $label-font-size;
        padding: 0.6rem 1.5rem;

        &>span {
          display: inline-block;
          margin-right: 0.6rem;
        }
  
        &.ascending {
          .filterArrow span:first-child {
            opacity: 1;
            border-bottom: 6px solid #7A80DD;
          }
  
          .filterArrow span:last-child {
            opacity: 0;
          }
        }
  
        &.descending {
          .filterArrow span:first-child {
            opacity: 0;
          }
  
          .filterArrow span:last-child {
            opacity: 1;
            border-top: 6px solid #7A80DD;
          }
        }
  
        .filterArrow {
          position: relative;
          width: 6px;
          height: 8px;
          top: 2px;
  
          span {
            position: absolute;
            left: 0;
  
            &:first-child {
              top: 0;
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-bottom: 6px solid $basic-btn-color;
            }
  
            &:last-child {
              top: 100%;
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 6px solid $basic-btn-color;
            }
          }
  
        }
      }
    }

    ul.recruiters {
      &>li {
        display: flex;
        gap: 0 2rem;
        border-bottom: 1px solid $grey-border-color;
        border-top: 1px solid $grey-border-color;

        &:first-child {
          margin-top: 2rem;
        }



      }
    }
  }

}