@import "var";

.searchResult {
  background-color: white;
  padding: 3rem;

  &>p {
    font-size: $paragraph-font-size;
    color: $grey-font-color;
    border-bottom: 1px solid $grey-border-color;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    strong {
      color: #000000;
      font-weight: 600;
    }
  }

  &>ul {
    &>li {
      padding: 2rem 0;
      border-bottom: 1px solid $grey-border-color;

      a {
        display: inline-block;
        margin-bottom: 1rem;
        margin-right: 1rem;
        border-bottom: 1px solid $base-font-color;
        font-size: 1.3rem;
        font-weight: 600;
      }

      .basicButton {
        cursor: default;
      }

      ul {
        li {
          font-size: 1.2rem;
          color: $grey-font-color;
          margin-bottom: 0.3rem;

          strong {
            color: $modal-btn-color;
          }
        }
      }
    }
  }
}