@import "var";

.noRecruitList {
  // 내역없을 때 화면 스타일링
  padding: 2.5rem;
  background-color: $base-bg-color;
  border: 1px solid $grey-border-color;
  color: $light-grey-font-color;
  text-align: center;
}

// 마이페이지 스타일링
.recruiterMypage {
  .userInfo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;
    border: 1px solid $grey-border-color;
    padding: 2rem;

    figure {
      position: relative;
      width: 10rem;
      height: 10rem;
      border: 1px solid #c4c4c4;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 3rem;

      &>img {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        object-fit: cover;
      }
    }

    &>div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin-right: 10%;

      h3 {
        color: #3b3b3b;
        font-size: 1.8rem;
        font-weight: 600;
      }

      &>p {
        padding-top: 1.5rem;
        border-top: 1px solid $grey-border-color;
        font-size: 1.2rem;
        color: $grey-font-color;

        span {
          padding: 0 0.6rem;

          &:not(:last-child) {
            border-right: 1px solid $grey-border-color;
          }
        }

      }
    }

    .flag {
      position: absolute;
      top: 0;
      right: 10%;
    }

  }

  .userActivity {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e1e1e1;

    ul {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin: 1rem 0;
      padding: 1rem 0;

      &:not(:last-child) {
        border-right: 1px solid #e1e1e1;
      }

      li {
        &:first-child {
          font-size: 1.2rem;
          color: $grey-font-color;
        }

        &:last-child {
          font-size: 1.8rem;
          margin: 1rem 0 0.5rem;

          em {
            font-size: 1.4rem;
          }

        }
      }
    }
  }

  .userActivity {
    li {
      &:last-child {
        color: #0778c0;
      }
    }
  }

  .average {
    li {
      &:last-child {
        color: $green-color;
      }
    }
  }

  .selfIntro {
    background: $base-bg-color;
    padding: 3rem 0 0;
    text-align: center;

    h4 {
      margin-bottom: 2rem;
      font-size: 1.8rem;
      color: #39393a;
      font-weight: 600;
    }

    .introductionText {
      background-color: white;
      margin-top: 2rem;
      padding: 2rem 0;
      border: 1px solid $form-border-color;
    }
  }
}


main.recruitersMain {
  form.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    gap: 0 0.6rem;
    background-color: $grey-bg-color;
  }

  .recruitLists {
    background-color: white;

    .listNotice {
      border-top: 1px solid #e1e1e1;
      line-height: 2.4rem;
      color: $grey-font-color;
      padding: 2rem 0 5rem 1rem;
      margin-top: 5rem;
    }

    &>div {
      margin-top: 2rem;

      ul {
        li.ingListColumn {
          display: flex;
          justify-content: space-between;
          margin-top: 1rem;
          border: 1px solid $grey-border-color;
        }
      }
    }
  }

  section {

    // 같은 회사 채용공고 리스트 스타일링
    .partnerList {
      ul {
        li {
          position: relative;
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          border: 1px solid $grey-border-color;

          h3 {
            display: inline-block;
            max-width: 45rem;
            margin-bottom: 1.5rem;
            color: $dark-font-color;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.4rem;
            border-bottom: 1px solid transparent;

            a:hover {
              border-bottom: 1px solid $dark-font-color;
            }
          }

          .listLeft {
            flex: 2;
            padding: 2rem;

            .flagImage {
              position: absolute;
              left: 60%;
              top: 0;
            }

            p {
              max-width: 50rem;
              font-size: 1.2rem;
              color: $grey-font-color;
              line-height: 2rem;

              strong {
                color: black;
                font-weight: 600;
              }
            }
          }

          .listRight {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;

            padding: 0 2rem;
            background-color: #e8f0f5;

            .status {
              display: block;
              width: 100%;
              margin-bottom: 2rem;
              text-align: center;
              padding: 6px 0;
              font-size: 1.2rem;
              font-weight: 600;

              border: 1px solid $point-color;
              color: $point-color;
              cursor: default;

            }
          }
        }
      }
    }

    // 검수중, 진행중 채용공고 서브페이지 스타일링
    .suggestList,
    .ingList,
    .doneList {
      .ingListColumn {
        display: flex;
        flex-direction: column;
        padding: 0;

        &>.listTop {
          padding: 2rem;
          display: flex;
          justify-content: space-between;
        }

        .idManage {
          display: flex;
          justify-content: space-between;
          align-items: center;

          box-sizing: border-box;
          width: 100%;
          height: 3.5rem;
          padding-left: 2rem;
          border-top: 1px solid $grey-border-color;

          span {
            color: rgb(120, 149, 48);
            font-size: 1.3rem;
            font-weight: 600;
          }

          a {
            display: inline-block;
            height: 100%;
            line-height: 3.5rem;
            padding: 0 1rem;
            background-color: $sub-font-color;
            font-size: 1.2rem;
            color: white;
          }
        }
      }

      &>ul {
        &>li {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          border: 1px solid $grey-border-color;
          padding: 2rem;
          margin-bottom: 1rem;
          gap: 0 10rem;

          .qnaStatus {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
              display: block;
              flex: 1;
              padding: 3px 0;
              background-color: #E4EFF5;
              border-radius: 3rem;
              text-align: center;
              font-size: 1.1rem;

              span {
                border-bottom: 1px solid $grey-bg-color;
                color: $light-grey-font-color;

                strong {
                  font-weight: 600;
                  color: #0072bd;
                }
              }
            }

          }

          .listLeft {
            flex: 2;

            h3 {
              display: inline-block;
              max-width: 45rem;
              margin-bottom: 1.5rem;
              color: $dark-font-color;
              font-weight: 600;
              font-size: 1.6rem;
              line-height: 2.4rem;

              a:hover {
                text-decoration: underline;
              }
            }

            button.recruitingClosed {
              box-sizing: border-box;
              cursor: default;
              border: 1px solid $red-color;
              background-color: transparent;
              color: $red-color;
              font-weight: 600;
              padding: 6px 2.5rem;
              font-size: 12px;
            }

            p {
              max-width: 50rem;
              font-size: $paragraph-font-size;
              color: $grey-font-color;
              line-height: 2rem;

              button {
                margin-left: 3px;
                padding: 0 1rem;
                color: $input-font-color;
                font-size: 1.2rem;
                background-color: white;
                border: 1px solid $grey-border-color;
              }

              strong {
                font-weight: 600;
                color: black;
              }
            }

            &>button:not(.modalButtonStyling) {
              background-color: #ffffff;
              border: 1px solid $grey-border-color;
              color: $grey-font-color;
              font-size: 1.1rem;
              padding: 2px 12px;
              margin-left: 3px;
            }

            ul {
              background-color: #ececec;
              margin-top: 0.6rem;
              padding: 1rem 2rem;
              color: $grey-font-color;

              li {
                font-size: 1.2rem;
                line-height: 1.8rem;
              }
            }
          }

          span.confirmingStatus {
            width: 5rem;
            height: 5rem;
            font-weight: 600;
            text-align: center;
            line-height: 5rem;
            display: inline-block;
            border-radius: 50%;
            background-color: #DBECF6;
            color: $point-font-color;
          }
        }

        div.listRight,
        div.suggestRight {
          display: flex;
          flex-direction: column;
          align-items: center;

          .recommendDone,
          .recommendCandidate,
          .status {
            display: block;
            width: 100%;
            margin-bottom: 1rem;
            text-align: center;
            padding: 6px 0;
            font-size: 1.2rem;
            font-weight: 600;
          }

          .recommendCandidate {
            background-color: $point-color;
            color: white;
            cursor: pointer;
          }

          .recommendDone {
            border: 1px solid $red-color;
            background-color: white;
            color: $red-color;
            cursor: default;
          }

          .status {
            border: 1px solid $green-color;
            color: $green-color;
            cursor: default;
          }


          &>p {
            text-align: center;
            width: 100%;
            margin-top: 7px;
            font-size: 1.1rem;
          }

          div.threeSections {
            display: flex;

            &>div {
              display: flex;
              flex-direction: column;
              align-items: center;

              &:first-child {
                em {
                  color: $green-color;
                }
              }

              &:last-child {
                em {
                  color: $point-color;
                }
              }

              &:not(:last-child) {
                span {
                  border-right: 1px solid $grey-border-color;
                }
              }

              span {
                display: inline-block;
                padding: 0 1rem;
                font-size: 1.1rem;
                color: $grey-font-color;
              }

              &:nth-child(1) {
                a {
                  color: #789530;
                }
              }

              em {
                display: inline-block;
                box-sizing: border-box;
                margin: 1rem 0;
                font-size: $paragraph-font-size;
                font-weight: 700;

                strong {
                  color: $green-color;
                }
              }

              a {
                display: inline-block;
                box-sizing: border-box;
                margin: 1rem 0;
                font-size: $paragraph-font-size;
                font-weight: 700;
                border-bottom: 1px solid $grey-border-color;

                strong {
                  color: $modal-btn-color;
                }
              }

            }
          }


        }

      }
    }

    // 공지사항 페이지 스타일링
    .noticeWrap {
      ul.noticeTabButton {
        display: flex;
        align-items: center;
        width: 100%;
        height: 4rem;
        border-bottom: 1px solid $point-color;

        li {
          flex: 1;
          width: 100%;
          height: inherit;
          line-height: 4rem;
          text-align: center;
          cursor: pointer;

          &.active {
            background-color: $point-color;
            color: white;

            &:hover {
              background-color: $point-color;
              color: white;
            }
          }

          &:hover {
            background-color: #eeeeee;
          }
        }
      }

      .noticeTabContent {
        &>ul {
          display: flex;
          flex-direction: column;

          &>li {
            box-sizing: border-box;
            width: 100%;
            height: auto;
            padding: 1rem 2rem;
            cursor: pointer;
            border-bottom: 1px solid $grey-border-color;

            &>div:first-child {
              box-sizing: border-box;
              width: 100%;
              height: 4rem;
              display: flex;
              align-items: center;
              justify-content: space-between;

              div:first-child {
                span:first-child {
                  display: inline-block;
                  width: 2rem;
                }
              }

              span.material-icons {
                font-size: 2rem;
                vertical-align: middle;
              }
            }

            &>div:last-child {
              overflow: hidden;
              padding-left: 2rem;
              line-height: 2rem;
              transition: max-height 0.2s ease;
            }

            &.active {
              .material-icons {
                transition: all 0.3s;
                transform: rotate(-180deg);
              }
            }
          }
        }
      }
    }

    // 후보자 추천하기 페이지 스타일링
    .recommendCandidate {
      form {
        margin-top: 5rem;

        .formWrap {
          margin-top: 2rem;

          &>ul {
            margin-bottom: 2rem;

            &>li {
              margin-bottom: 3px;
            }
          }

          label,
          span.labelSpan {
            display: inline-block;
            font-size: 1.2rem;
            color: $light-grey-font-color;
          }

          .formTitle {
            margin-bottom: 1rem;
            color: #566a26;
            font-size: 1.6rem;
            font-weight: 600;

            em {
              font-size: 1.2rem;
              color: $grey-font-color;
            }
          }

          .formWrapInputs {
            width: 100%;
            padding: 1rem;
            background-color: $base-bg-color;

            ul {
              flex: 1;
              box-sizing: border-box;
              width: 100%;
              margin-right: 1rem;

              li {
                &:not(:last-child) {
                  margin-bottom: 1rem;
                }

                display: flex;
                align-items: center;
                padding: 1rem 2rem;
                background-color: white;
                border: 1px solid $grey-border-color;

                label,
                span.labelSpan {
                  min-width: 12rem;
                }

                input {
                  flex: 1;
                }

              }
            }

            textarea {
              width: 100%;
              border: 1px solid $grey-border-color;
            }

            .fileBox {
              width: 100%;
              display: flex;

              &.inlineFileBox {

                &>div {
                  justify-content: flex-start;
                }
              }

              label {
                min-width: auto;
                cursor: default;
              }

              &>div {
                display: flex;
              }

              .fileInput {
                display: none;
              }

              .fileName {
                display: inline-block;
                width: fit-content;
                height: 3.2rem;
                line-height: 3.2rem;
                padding: 0 1rem;
                box-sizing: border-box;
              }

            }

            .inputRight {
              display: flex;
              align-items: center;
              padding: 0.5rem 2rem;
              background-color: white;
              border: 1px solid $grey-border-color;

              span.labelSpan {
                margin-right: 2rem;
                flex: 1;
                width: 5rem;
              }

              .phoneInput {
                display: flex;
                flex-direction: column;

                &>div {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding: 1rem;

                  input[type=radio] {
                    margin-right: 3px;
                  }

                  label {
                    margin-right: 1rem;
                  }

                  &:last-child {
                    input[type=text] {
                      &.shortInput {
                        display: inline-block;
                        width: 6rem;
                      }
                    }
                  }
                }
              }
            }
          }

        }
      }
    }

    // 비용 관리 페이지 스타일링
    .paymentWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 3rem;
      border: 1px solid $grey-border-color;

      &>div {
        width: 45rem;

        h5 {
          font-size: 1.6rem;
          font-weight: 600;
          color: $dark-font-color;
        }

        p {
          margin: 2rem 0 3rem;
          font-size: 1.2rem;
          color: $grey-font-color;
          line-height: 1.8rem;
        }

        h6 {
          padding-bottom: 2rem;
          border-bottom: 1px solid $light-grey-font-color;
          font-size: 1.3rem;
          font-weight: 600;
        }

        ul {
          margin: 2rem 1rem;

          li {
            color: black;
            list-style: disc;
            font-weight: 600;
          }
        }
      }
    }


    
  }
}