// 마이페이지 폼 스타일링
.mypageWrap {
  form.employersJoinForm {
    box-sizing: border-box;
    width: 46rem;
    max-width: 46rem;
    margin: 0 auto 4rem;
    padding: 2rem 3rem;
    border: 1px solid #d7d7d7;
    background-color: white;

    .formSection {
      border-bottom: 1px solid #d7d7d7;
      padding: 0 0 3rem;

      .checkboxWrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        label {
          color: #333333;
        }

        input[type=checkbox] {
          width: fit-content;
        }
      }


      .column {
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
      }



      &.termAgree {
        &>div {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &:first-child {
            label:before {
              font-size: 2rem;
            }
          }

          input[type=checkbox] {
            display: none;

            &:checked {

              &+label,
              &+label:before {
                color: #007aff;
              }
            }
          }

          label {
            cursor: pointer;
            position: relative;
            display: inline-block;
            color: #8e8e93;
            padding-left: 2rem;

            &:before {
              position: absolute;
              content: '\e92d';
              font-family: "Material Icons";
              cursor: pointer;
              color: #8e8e93;
              font-size: 1.6rem;
              left: 0;
              top: 2px;
            }
          }

          a {
            width: fit-content;
            height: 2rem;
            margin-left: 1rem;
            padding: 0 4px;
            line-height: 2rem;
            border: 1px solid #8e8e93;
            border-radius: 3px;

            font-size: 12px;
            color: #8e8e93;
          }
        }

      }

      &>div:not(.tooltipBox) {
        margin-top: 3rem;

        &>div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &.fileUpload {
            &>span {
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              box-sizing: border-box;
              display: inline-block;
              height: 3.6rem;
              margin-right: 1rem;
              padding: 1rem;
              border-radius: 1rem;
              background-color: #f2f2f7;
              color: #999;

              span {
                color: #007aff;
                font-size: 1.8rem;
              }

            }

            .fileInput {
              display: none;
            }

            label {
              width: 30%;
              text-align: center;
              height: 3.6rem;
              line-height: 3.6rem;
              padding: 0 1rem;
              border-radius: 0.5rem;
              border: 1px solid #007aff;
              color: #007aff;
              font-weight: 600;
              background-color: white;
              cursor: pointer;

              &:hover {
                background-color: rgba(0, 122, 255, 0.04);
              }
            }
          }


        }
      }



      .tooltipBox {
        position: relative;

        &>p {
          display: inline-block;
          margin: 1rem 0;
          padding: 0.5rem;
          border-radius: 0.5rem;
          color: #8e8e93;
          font-size: 1.4rem;
          font-weight: 600;
          transition: all 0.5s;
          cursor: pointer;

          &:hover {
            background: rgba(0, 0, 0, 0.04);

            &+.tooltip {
              opacity: 0.9;
            }
          }

          span {
            vertical-align: middle;
            font-size: 1.6rem;
          }
        }

        .tooltip {
          font-size: 1rem;
          font-weight: 600;
          position: absolute;
          top: 4rem;
          line-height: 1.6rem;
          background-color: #555;
          color: white;
          padding: 1rem;
          border-radius: 0.6rem;
          opacity: 0;
          transition: opacity 0.5s;
        }
      }

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-family: Noto Sans KR, Roboto, sans-serif;
        color: #007aff;
        font-size: 1.3rem;
      }

      input[type=text],
      input[type=password],
      span.fileName,
      select {
        outline: none;
        box-sizing: border-box;
        width: 100%;
        height: 3.6rem;
        margin-right: 1rem;
        padding: 0 1rem;
        font-size: 1.3rem;
        color: black;
        border: 1px solid #f2f2f7;
        background-color: #f2f2f7;
        border: none;
        border-radius: 1rem;

        &::placeholder {
          color: #999;
        }
      }

      input:read-only {
        background-color: #8e8e93;
        color: white;
      }

      button[type=button] {
        width: 30%;
        text-align: center;
        height: 3.6rem;
        line-height: 3.6rem;
        padding: 0 1rem;
        border-radius: 0.5rem;
        border: 1px solid #007aff;
        color: #007aff;
        font-weight: 600;
        background-color: white;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 122, 255, 0.04);
        }

        &.submitBtn {
          pointer-events: none;
          display: block;
          width: 100%;
          height: 5rem;
          margin: 1rem 0;
          border-radius: 1rem;
          box-shadow: none;
          font-weight: 600;
          color: #a4a4a4;
          box-shadow: none;
          background-color: #666666;

          &.active {
            pointer-events: initial;
            cursor: pointer;
            background-color: #007aff;
            color: white;
          }
        }
      }
    }



    .alertBox {
      padding: 1rem 0;
      font-size: 1.1rem;

      &>span {
        display: block;
        color: #8e8e93;
        font-weight: 600;
        margin-bottom: 0.6rem;

        span {
          font-size: 1.6rem;
          vertical-align: middle;
        }

        &:first-child {
          color: #007aff;
        }
      }
    }
  }
}