/* 구글 나눔 고딕 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #f3f3f3;
  font-family: 'Nanum Gothic', Arial;
  font-size: 1.4rem;
  color: #333333;
  min-height: 100vh;
}

/* header styling */
header.loginHeader {
  box-sizing: border-box;
  width: 100vw;
  height: 70px;
  line-height: 70px;
  background-color: #ffffff;
  border-top: 2px #107fc3 solid;
  border-bottom: 2px #c2c2c2 solid;
}

header.loginHeader .headerWrap {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 110rem;
  height: inherit;
  margin: 0 auto;
}

header.loginHeader .headerWrap>a {
  display: inline-block;
  width: 116px;
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: 600;
}

header.loginHeader .headerWrap>a img {
  width: 100%;
}


header.loginHeader .headerWrap>div {
  display: flex;
  gap: 0 2rem;
  font-size: 1.3rem;
  font-weight: 600;
}

/* login page styling */
.loginPage {
  box-sizing: border-box;
  width: 100vw;
  margin-top: 8rem;
}

.loginPage h1 {
  margin: 2.5rem 0;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.loginWrap {
  margin: 0 auto;
  max-width: 38rem;
  margin: 0 auto;
  text-align: center;
}

.loginWrap form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.loginWrap form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.loginPage .loginButton {
  width: 100%;
  background-color: #0f7ec3;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 9px 153px;
  margin: 15px 0;
}

.loginWrap form input[type=text],
.loginWrap form input[type=password] {
  display: block;
  border: #d7d7d7 1px solid;
  color: #7d7d7d;
  font-size: 12px;
  text-align: left;
  padding: 8px 10px 7px 10px;
  margin: 5px 0;
}

.loginWrap .findAccount {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.loginWrap .findAccount button {
  flex: 1;
  margin: 2rem 0;
  background-color: transparent;
}

.loginWrap .findAccount button:not(:first-child) {
  border-left: 1px solid #d7d7d7;
}

.loginWrap .linkToJoin {
  padding: 2rem 0 5rem;
  border-top: 1px solid #d7d7d7;
}

.linkToJoin a {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #0f7ec3;
  text-decoration: underline;
}

.joinPages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 20rem;
}

.joinPages a {
  padding: 0 4rem;
}

.joinPages a:not(:first-child) {
  border-left: 1px solid #d7d7d7;
}

/* join Page Styling */
.joinPage {
  margin-top: 8rem;
}

.loginPage h1,
.joinPage h1 {
  margin: 2.5rem 0;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.joinPage .basicButton {
  padding: 0.3rem 1rem;
  background-color: white;
  border: 1px solid #d7d7d7;
  margin-left: 1rem;
}

.joinPage .blueButton {
  display: block;
  width: 20rem;
  height: 5rem;
  margin: 0 auto;
  line-height: 5rem;
  border-radius: 1rem;
  box-shadow: none;
  font-weight: 600;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  background-color: #007aff;
  cursor: pointer;
}

.joinPage .alertBox {
  margin: 2rem auto;
  width: 50rem;
  padding: 1rem 0;
  font-size: 1.1rem;
}

.joinPage .alertBox > span {
  display: block;
  color: #8e8e93;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.joinPage .alertBox span:first-child {
  color: #007aff;
}

.joinPage .alertBox span span {
  font-size: 1.6rem;
  vertical-align: middle;
}

.joinPage form.joinForm {
  margin: 0 auto 6rem;
  width: 46rem;
}

.joinForm .formWrap {
  padding: 2rem 3rem;
  border: 1px solid #d7d7d7;
  background-color: white;
  margin-bottom: 1rem;
}

.selectGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d7d7d7;
}

.selectGroup figure {
  flex: 1;
  padding: 0 1rem;
  border: 2px solid #d7d7d7;
}

.selectGroup figure.active {
  border: 2px solid #0f7ec2;
}

.joinForm .formWrap ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #0c0c0c;
  font-size: 1.2rem;
  list-style: none;
  margin-bottom: 5px;
  vertical-align: middle;
}

.joinForm .formWrap ul li strong {
  color: red;
}

.joinForm .formWrap ul li a {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.3rem 0.8rem;
  text-align: center;
  border: 1px solid #e2e3e4;
  font-size: 1.1rem;
}

.joinForm .formWrap h2 {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;

  color: #252525;
  font-size: 14px;
  font-weight: 600;
}

h2 .selectAll {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.2rem;
  font-weight: normal;
}

.inputs input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: #D0D0D0 1px solid;
  color: #7d7d7d;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 10px 15px;
  margin: 4px 0;
}

.inputs>div {
  display: flex;
}

.inputs>div button[type=button] {
  box-sizing: border-box;
  width: 12rem;
  margin: 4px 0 4px 6px;
  background-color: #f9f9f9;
  border: 1px solid #d7d7d7;
  color: #555555;
  font-size: 1.2rem;
}

.mailAgreement {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  color: #898989;
  font-size: 1.2rem;
}

.mailAgreement input {
  margin-right: 6px;
}

.joinPage input[type=submit],
.loginPage input[type=submit] {
  display: inline-block;
  width: 100%;
  background-color: #0f7ec3;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1rem 0;
}


/* footer styling */
footer.loginFooter {
  box-sizing: border-box;
  width: 100vw;
  height: 14rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 9999;
  text-align: center;
  background-color: #2d343f;
  color: white;
}

footer.loginFooter .footerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer.loginFooter .footerWrap span {
  display: inline-block;
  width: 10rem;
  height: 8rem;
  line-height: 8rem;
  font-size: 1.2rem;
}

footer.loginFooter p {
  color: white;
  font-size: 1.1rem;
}