
.joinPage input[type=submit] {
  background-color: #0f7ec3;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
  padding: 9px 0;
}


/* join Page Styling */
.joinPage {
  margin-top: 8rem;
}

.loginPage h1,
.joinPage h1 {
  margin: 2.5rem 0;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.joinPage .basicButton {
  padding: 0.3rem 1rem;
  background-color: white;
  border: 1px solid #d7d7d7;
  margin-left: 1rem;
}
.joinPage form.joinForm {
  margin: 0 auto 6rem;
  width: 30%;
}

.joinForm .formWrap {
  padding: 2rem 3rem;
  border: 1px solid #d7d7d7;
  background-color: white;
  margin-bottom: 1rem;
}

.joinForm .formWrap .selectGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d7d7d7;
}

.joinForm .formWrap .selectGroup figure {
  flex: 1;
  padding: 0 1rem;
  border: 2px solid #d7d7d7;
}

.joinForm .formWrap .selectGroup figure.active {
  border: 2px solid #0f7ec2;
}

.joinForm .formWrap ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #0c0c0c;
  font-size: 1.2rem;
  list-style: none;
  margin-bottom: 5px;
  vertical-align: middle;
}

.joinForm .formWrap ul li strong {
  color: red;
}

.joinForm .formWrap ul li a {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.3rem 0.8rem;
  text-align: center;
  border: 1px solid #e2e3e4;
  font-size: 1.1rem;
}

.joinForm .formWrap h2 {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;

  color: #252525;
  font-size: 14px;
  font-weight: 600;
}

h2 .selectAll {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.2rem;
  font-weight: normal;
}

.inputs input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: #D0D0D0 1px solid;
  color: #7d7d7d;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 10px 15px;
  margin: 4px 0;
}

.inputs>div {
  display: flex;
}

.inputs>div button[type=button] {
  box-sizing: border-box;
  width: 12rem;
  margin: 4px 0 4px 6px;
  background-color: #f9f9f9;
  border: 1px solid #d7d7d7;
  color: #555555;
  font-size: 1.2rem;
}

.mailAgreement {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  color: #898989;
  font-size: 1.2rem;
}

.mailAgreement input {
  margin-right: 6px;
}

.joinPage input[type=submit],
.loginPage input[type=submit] {
  display: inline-block;
  width: 100%;
  background-color: #0f7ec3;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1rem 0;
}
