@import "./var-all";

// common class
// ---------admin
.opacityZero {
  opacity: 0;
}

.none {
  display: none;
}

.alignRight {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.marginRight6 {
  margin-right: 6px;
}

.adminFlexColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flexGap {
  gap: 0.6rem 0;
}
// ---------admin

.flex {
  display: flex;
  align-items: center;
  gap: 0 3px;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexDirectionColumn {
  display: flex;
  flex-direction: column;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexAlignRight {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  gap: 0 6px;
}

.flexSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textAlignCenter {
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 2rem;
  font-weight: 600;
  font-size: 1.6rem;

  &>* {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    cursor: pointer;

    min-width: 18rem;
    padding: 0.6rem 1rem;
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
    background-color: $point-color;
    border: 1px solid $point-color;

    &:first-child {
      margin-right: 1rem;
    }
  }

  &:nth-child(1),
  .pointColoredBtn,
  input[type=submit] {
    border: 1px solid $point-color;
    background-color: $point-color;
    color: white;
  }

  // &:nth-child(2),
  .modalCloseBtn,
  a {
    border: 1px solid $grey-border-color;
    background-color: white;
    color: #555555;
  }

  .greyColoredBtn{
    border: none;
    background-color: #d7d7d7;
    color: #555555;
  }

}

.marginTopBottom {
  margin: 2rem 0;
}

.marginInline {
  margin-inline: 6px;
}

.red {
  color: $red-color;
}

// common styling
.stars {
  span {
    vertical-align: middle;
    font-size: 1.5rem;
    color: $point-color;
    font-weight: 700;

    &.active {
      content: 'e885';
      font-family: 'Material Icons';
    }
  }
}

// 버튼 스타일링
.basicButton {
  background-color: white;
  border: 1px solid $grey-border-color;
  color: $input-font-color;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.blueButton {
  background-color: $point-color;
  border: 1px solid $grey-border-color;
  color: $input-font-color;
  font-size: 12px;
  text-align: center;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.modalOpenButton {
  @include modalOpenButton();
}

.bigButton {
  @include BigButton();
}

.deleteButton {
  margin-left: 0.6rem;
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px solid $light-grey-font-color;
}


.mainWrap {
  // 왼쪽 사이드 바 + 오른쪽 메인 컨텐츠 정렬
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  width: 130rem;
  max-width: 100vw;
  padding: 1.5rem 3rem;
  background-color: $base-bg-color;

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    padding: 3rem;
    background: white;
    border: 1px solid $grey-border-color;

    &.noBorder {
      border: none;
    }
    &.dividedSections {
      // index 페이지 스타일링
      padding: 0;
      background-color: transparent;
      // border: none;

      section {
        background-color: white;
        border: 1px solid $grey-border-color;

        &.recruitLists {
          padding: 3rem;

          ul {
            li {
              align-items: center;
            }
          }

        }

        &.recruitNoticeStats {
          display: flex;
          padding: 2rem 3rem;

          div {
            flex: 1;
            text-align: center;

            &:not(:first-child) {
              border-left: 1px solid $grey-border-color;
            }

            p {
              font-size: 1.2rem;
              font-weight: 600;
              color: $grey-font-color;
            }

            a {
              display: block;
              font-size: 3rem;
              line-height: 6rem;
              text-decoration: underline;
              color: $point-font-color;
            }
          }
        }


      }
    }

    &.recruitersMain {
      section {
        h2.sectionTitle {
          span {
            color: $green-color;
          }
        }

        h3.sectionTitle {
          color: $green-color;
        }
      }

      &.recruitNoticeStats {
        a {
          color: $green-color;
        }
      }
    }

    section {

      // section title 스타일링
      h2.sectionTitle {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        margin-bottom: 2rem;

        span {
          font-weight: 600;
          font-size: $title-font-size;

          em {
            margin-left: 1rem;
            font-size: 1.5rem;
            color: $grey-font-color;
          }
        }

        a {
          font-size: 1.1rem;
          color: $grey-font-color;
          text-decoration: underline;
        }

      }

      h3.sectionTitle {
        font-size: 2.4rem;
        font-weight: 600;
        color: $sub-font-color;
        padding-bottom: 2rem;

        em {
          margin-left: 1rem;
          font-size: 1.5rem;
          color: $grey-font-color;
        }
      }

      h4.sectionTitle {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        margin: 7rem 0;
      }

      .threeColumn {
        width: 100%;
        display: flex;
        flex-direction: column;

        &>div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;

          p {
            width: 100%;
            text-align: center;
          }

          &:first-child {
            margin-bottom: 1rem;

            p:not(:last-child) {
              border-right: 1px solid $grey-border-color
            }
          }

          &:not(:first-child) {
            p {
              color: $sub-font-color;
              font-weight: 600;
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}


// *************** admin common


// admin 로그아웃 모달창
.adminLogoutBtn {
  display: inline-block;
  position: relative;
  height: 100%;
  padding: 0 20px;
  background-color: white;
  border: none;

  &>div {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: $point-btn-color;
    color: white;
    right: 10px;
    top: 80%;
    padding: 1rem 2rem;

    span {
      margin-right: 6px;
      font-size: 1.4rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      right: 20px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 8px solid $point-btn-color;
    }
  }

  &.active {
    color: $point-btn-color;

    div {
      display: flex;
    }
  }
}

.adminWrap {
  display: flex;
  justify-content: space-between;
  
  position: relative;
  top: 75px;
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: auto;
  min-height: calc(100vh - 75px);
  padding: 2rem;

  background-color: $base-bg-color;

  .editorWrap {
    width: 100%;
    max-width: 80rem;
    box-sizing: border-box;
  }

  main {
    width: 100%;
    position: relative;
    box-sizing: border-box;

    section {
      background-color: $white-bg-color;
      border: 1px solid $form-border-color;

      &.tableScroll {

        article {
          box-sizing: border-box;
          position: relative;
          overflow-x: scroll;
          margin: 2rem 0;
          min-height: 70vh;
        }

        table {
          position: absolute;
          width: 300rem;
          height: auto;
          height: fit-content;
          top: 0;
          left: 0;
        }
      }

      &.tableSection {
        padding: 12px 20px 15px;
      }

      &.formSection {
        padding: 3rem;
        max-width: 100rem;
      }

      .sectionHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eef1f5;

        h3 {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: $header-font-size;
          color: $dark-font-color;

          span {
            margin-right: 5px;
          }

        }

        .downloadBtns {
          button {
            @include downloadBtn();
          }
        }
      }
    }
  }
}

// 공통 버튼들
.linkButton {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  font-size: 12px;
  background-color: #32c5d2;
  border: 1px solid #2499a3;
  color: white;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  &.active {
    background-color: #26a1ab;
    border: 1px solid #18666d;
  }

  span {
    font-size: 12px;
  }
}

// 페이지네이션
.paginationPub {
  display: flex;
  align-items: center;
  height: 32px;
  line-height: 32px;
  text-align: center;

  ul {
    display: flex;
    height: 100%;

    li {
      width: 32px;
      height: 100%;
      border: 1px solid #ddd;
      cursor: pointer;

      &>span {
        width: 100%;
        height: inherit;
        line-height: 32px;
        font-size: 12px;
      }

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-last-child(1),
      &:nth-last-child(2) {
        width: 42px;
      }

      &.active {
        background-color: $point-color;
        border: 1px solid $point-color;
        color: white;
      }

    }
  }
}

// 검색창
.searchBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;

  label {
    margin-right: 5px;
  }

  input[type="search"] {
    display: inline-block;
    min-width: 180px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid $light-border-color;
  }

  button {
    cursor: pointer;
    padding: 6px 3rem;
    color: #FFF;
    background-color: #26a1ab;
    border-color: #2499a3;
  }
}

.searchSelect {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &>* {
    margin-left: 6px;
    outline: none;
  }

  select {
    padding: 0 12px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
  }

  input[type=date] {
    padding: 3px 12px;
    border: 1px solid $form-border-color;
  }

  input[type=search] {
    padding: 6px 12px;
    border: 1px solid $form-border-color;
  }

  button {
    cursor: pointer;
    padding: 6px 3rem;
    color: #FFF;
    background-color: #26a1ab;
    border-color: #2499a3;
  }
}
