@import "var-all";

footer.adminFooter {
  height: 14rem;
  box-sizing: border-box;
  position: relative;
  z-index: 500;
  top: 75px;
  text-align: center;
  background-color: $footer-bg-color;
  color: white;

  .footerWrap {
    display: flex;
    align-content: center;
    justify-content: center;

    a {
      display: inline-block;
      width: 10rem;
      height: 8rem;
      line-height: 8rem;
      font-size: 1.2rem;

      &.boldText {
        font-weight: 600;
      }
    }
  }

  p {
    color: white;
    font-size: 1.1rem;

  }
}

footer {
  height: 14rem;
  box-sizing: border-box;
  position: relative;
  z-index: 8000;
  top: 75px;
  text-align: center;
  background-color: $footer-bg-color;
  color: white;

  .footerWrap {
    display: flex;
    align-content: center;
    justify-content: center;

    span {
      display: inline-block;
      width: 10rem;
      height: 8rem;
      line-height: 8rem;
      font-size: 1.2rem;

      &.boldText {
        font-weight: 600;
      }
    }
  }

  p {
    color: white;
    font-size: 1.1rem;

  }
}