@import "var-all";


// input 스타일링
input[type=text],
input[type=search],
input[type=radio],
input[type=checkbox],
input[type=password],
select {
  display: inline-block;
  box-sizing: border-box;
  height: 3.2rem;
  margin-right: 0.3rem;
  padding: 0.6rem 1rem;
  color: $input-font-color;
  font-size: 12px;
  border: 1px solid $grey-border-color;
  line-height: 3.2rem;
  vertical-align: middle;
}

// input[type=number] {
//   &::-webkit-outer-spin-button, 
//   &::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
//   }
// }
// select styling
.recruitResult {
  option {
    color: white;
    background-color: $red-color;

    &.passed {
      background-color: $green-color;
    }
  }
}

.tags {
  .tagList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &>span {
      border: 1px solid $grey-border-color;
      background-color: white;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 0.6rem 1rem;
      border-radius: 0.3rem;
      color: $light-grey-font-color;
    }
  }
}

form,
form.employersForm,
form.recruitersForm {

  // 태그 추가
  .tagsInputs {
    width: 100%;
    min-height: 8rem;
    height: auto;

    p {
      margin-bottom: 1rem;
    }


    &>div {
      border: 1px solid $grey-border-color;
      padding: 6px 1rem;

      input {
        border: 1px solid $grey-border-color;
      }

      &>span {
        display: inline-block;
        margin-right: 2px;
        color: white;
        background-color: $modal-btn-color;
        padding: 5px 5px 5px 8px;
        border-radius: 3rem;

        .delete {
          background-color: $modal-btn-color;
          cursor: pointer;

          span {
            display: inline-block;
            margin-left: 5px;
            padding: 2px;
            font-size: 1rem;
            background-color: $blue-bg-color;
            color: white;
            border-radius: 50%;
          }
        }
      }
    }
  }

  // 태그 추가
  .tags {
    width: 100%;
    background-color: white;
    box-sizing: border-box;

    .tagsIn {
      width: 100%;
      box-sizing: border-box;
    }

    p {
      line-height: 28px;
      color: #000000;
      margin-bottom: 6px;
    }

    &>div {
      border: 1px solid $form-border-color;
      min-height: 50px;
      padding: 6px 1rem;

      &.tagList {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        &>span {
          border: 1px solid $grey-border-color;
          background-color: white;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
          padding: 0.6rem 1rem;
          border-radius: 0.3rem;
          color: $light-grey-font-color;
        }
      }

      &>span {
        display: inline-block;
        margin-right: 2px;
        color: white;
        background-color: $point-color;
        margin-bottom: 0.5rem;
        padding: 5px 5px 5px 8px;
        border-radius: 30px;

        .delete {
          cursor: pointer;
          background-color: $modal-btn-color;

          span {
            display: inline-block;
            margin-left: 5px;
            padding: 2px;
            font-size: 1rem;
            background-color: $admin-point-font-color;
            color: white;
            border-radius: 50%;
          }
        }
      }
    }
  }
}