@import "var-all";

.adminHeader {
  position: fixed;
  z-index: 7000;
  box-sizing: border-box;
  background-color: $white-bg-color;
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .navLeft {
    display: flex;
    justify-content: space-between;
    width: 235px;

    a {
      &.close {
        display: none;
      }

      img {
        width: 116px;
        margin-left: 15px;
      }
    }

    .hamburgerBtn {
      position: relative;
      width: 20px;
      height: 14px;
      margin-inline: 20px;
      cursor: pointer;

      &:hover span {
        background-color: #999999;
      }

      span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #C2CEDE;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
        }

        &:nth-child(3) {
          top: 100%;
        }
      }
    }
  }

  .localeWrap {
    display: flex;
    gap: 0 2rem;
  }

  // admin 로그아웃 모달창
  .adminLogoutBtn {
    display: inline-block;
    position: relative;
    height: 100%;
    padding: 0 20px;
    border: 1px solid violet;
    background-color: white;
    border: none;

    &>div {
      display: none;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      background-color: $point-btn-color;
      color: white;
      right: 10px;
      top: 80%;
      padding: 1rem 2rem;

      span {
        margin-right: 6px;
        font-size: 1.4rem;
      }

      &::before {
        content: '';
        position: absolute;
        top: -8px;
        right: 20px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 8px solid $point-btn-color;
      }
    }

    &.active {
      color: $point-btn-color;

      div {
        display: flex;
      }
    }
  }

}

/* header styling */
header.employersHeader {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 70px;
  line-height: 70px;
  background-color: #ffffff;
  border-top: 2px #107fc3 solid;
  border-bottom: 2px #c2c2c2 solid;

  .headerWrap {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 110rem;
    height: inherit;
    margin: 0 auto;
    font-weight: 600;

    &>div:first-child {
      font-size: 1.3rem;

      a {
        display: inline-block;
        width: 116px;
        margin-right: 6rem;
        font-size: 1.3rem;
        text-decoration: none;

        img {
          width: 100%;
        }
      }

      span {
        display: inline-block;
        font-weight: 400;
        color: #b0b0b0;
        margin-left: 0.2rem;

        img {
          width: 16px;
          margin-right: 3px;
          vertical-align: text-top;
        }
      }
    }
    
    .localeWrap {
      display: flex;
      gap: 0 2rem;
    }

    .headerLogout {
      &>span {
        padding-right: 1rem;
        margin-right: 1rem;
        font-weight: 600;
        color: #333333;
        border-right: 1px solid $base-font-color;
      }

      em {
        font-weight: 400;
      }
    }
  }

}

/* header styling */
header.recruitHeader {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 70px;
  line-height: 70px;
  background-color: #ffffff;
  border-top: 2px #107fc3 solid;
  border-bottom: 2px #c2c2c2 solid;

  .headerWrap {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 110rem;
    height: inherit;
    margin: 0 auto;
    font-weight: 600;

    &>div:first-child {
      font-size: 1.3rem;

      a {
        display: inline-block;
        width: 116px;
        margin-right: 6rem;
        font-size: 1.3rem;
        text-decoration: none;

        img {
          width: 100%;
        }
      }

      span {
        display: inline-block;
        font-weight: 400;
        color: #b0b0b0;
        margin-left: 0.2rem;

        img {
          width: 16px;
          margin-right: 3px;
          vertical-align: text-top;
        }
      }
    }

    .localeWrap {
      display: flex;
      gap: 0 2rem;
    }

    .headerLogout {
      &>span {
        padding-right: 1rem;
        margin-right: 1rem;
        font-weight: 600;
        color: #333333;
        border-right: 1px solid $base-font-color;
      }

      em {
        font-weight: 400;
      }
    }
  }

}