@import './var-all.scss';

.recommendModal {
 
  .recommendModalWrap {
    &.mediumWidth {
      width: 50rem;
    }
    // ********************* 공통 스타일링 *********************
    &::before {
      // 팝업창 맨 위 이미지
      position: absolute;
      content: '';
      width: 30rem;
      height: 16px;
      background-image: url('../images/popupbg.gif');
    }

    h4 {
      // 팝업 제목
      font-size: 2rem;
      font-weight: bold;
      color: #000000;
      padding: 15px 0;
      margin-top: 2rem;
      margin-bottom: 10px;
      line-height: 24px;
      border-bottom: 1px #b7b7b7 solid;
      text-align: center;
    }

    h5 {
      text-align: center;
    }

    b {
      display: inline-block;
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 12px;
      color: rgb(30, 106, 158);
      user-select: auto;
    }

    p {
      margin-bottom: 2rem;
      line-height: 2rem;

      &.mailContent {
        // 기존 써치펌에 인재추천 참여 요청하기 메세지 스타일링
        margin-top: 2rem;
        padding: 2rem 0;
        border-top: 2px solid rgb(230, 230, 230);
        border-bottom: 2px solid rgb(230, 230, 230);
      }
    }

    strong {
      font-weight: 700;
      color: #707070;
    }

    big {
      display: inline-block;
      margin: 1rem 0;
    }

    textarea {
      width: 100%;
      border: 1px solid #d7d7d7;
    }

    &>ul {
      &>li {
        position: relative;
        text-indent: 1rem;
        margin-bottom: 3px;

        &::before {
          content: '';
          left: 0;
          top: calc(50% - 3px);
          position: absolute;
          width: 3px;
          height: 3px;
          background-color: #333333;
        }
      }
    }

    table {
      position: relative;
      width: 100%;
      overflow-y: scroll;
      border-collapse: collapse;
      margin-top: 5rem;

      thead {
        border-top: 3px solid black;
        border-bottom: 3px solid black;

        tr {
          td {
            padding: 1rem 2rem;
            font-weight: 600;
          }
        }

      }

      tbody {
        border-top: 3px solid black;
        border-bottom: 3px solid black;

        tr {
          cursor: default;

          &.highlighted {

            td:nth-last-child(1),
            td:nth-last-child(2),
            td:nth-last-child(3) {
              background-color: rgb(252, 229, 210);
            }
          }

          &:hover {
            background: #e7ecf1;
          }

          td {
            border-collapse: collapse;
            border: 1px solid #e7ecf1;
            text-align: center;
            padding: 8px;
          }
        }
      }

      &.crTable {
        min-width: 80rem;

        thead {
          border: none;
        }

        tbody {
          border: none;

          td {

            &:nth-last-child(1),
            &:nth-last-child(2) {
              &.red {
                color: red;
              }
            }

            color: black !important;
            text-align: left;
          }
        }
      }
    }

    .directionColumn {
      display: flex;
      flex-direction: column;
    }

    .infoBox {
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 8px;
      background: rgb(232, 240, 245);
    }

    .alertBox {
      margin-bottom: 2rem;
      padding: 1.5rem 1rem;
      color: #ffffff;
      line-height: 2rem;
      text-align: center;
      font-weight: 600;
      background-color: #09C;
    }

    .blueBox {
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 8px;
      background: rgb(232, 240, 245);
    }

    .matchingList {
      // 인사담당자, 리크루터 - 채용공고 매칭 현황 스타일링
      overflow-y: scroll;
      height: 164px;

      &>div {
        line-height: 4rem;
        padding-left: 1.5rem;
        border-bottom: 1px solid #d7d7d7;
      }
    }

    form {
      label {
        display: block;
        margin-bottom: 0.6rem;
        margin-top: 1rem;
        font-weight: 600;

        span {
          color: #ed1c24;
        }

        &.width500 {
          max-width: 50rem;
        }
      }

      &>div {

        input {
          margin-right: 6px;
          flex: 1;
        }

        button {
          margin-top: 0;
          height: 3.2rem;

          &.delete {
            height: auto;
            background-color: $modal-btn-color;
          }
        }
      }

      .inputWidthFull {
        input {
          width: 100%;
        }
      }

      &.loginModalForm {

        // 아이디 찾기, 비밀번호 찾기 모달창 스타일링
        &>* {
          width: 100%;
          margin-bottom: 1rem;
        }

        &>div {
          display: flex;
          align-items: center;
          justify-content: center;

          input {
            flex: 2;
          }

          button {
            flex: 1;
            height: 3.2rem;
            font-size: 1.2rem;
            color: #333333;
            background-color: white;
            border: 1px solid #d7d7d7;
          }
        }
      }
    }

    // ********************* 개별 스타일링 - 관리자

    .crCommentInput {

      // 관리자 - 추가기능 - CR관리 모달창 스타일링
      label {
        display: block;
        margin-top: 1rem;
        margin-bottom: 0.6rem;
      }

      input {
        display: block;
        width: 100%;
      }
    }

    .sectionHeader {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2rem;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #eef1f5;

      h3 {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.6rem;
        color: #2f353b;

        span {
          margin-right: 5px;
        }

      }

      .downloadBtns {
        button {
          display: inline-block;
          margin-right: 0.3rem;
          padding: 6px 12px;
          background-color: #e9e9e9;
          border: 1px solid #666;
          font-size: 11px;
          color: #000000;

          &:hover {
            background-color: #e0e0e0;
          }
        }
      }
    }

    // ********************* 개별 스타일링 - 리크루터
    .threeColumn {
      // 리크루터 - 채용공고 제안하기 스타일링
      width: 100%;
      display: flex;
      flex-direction: column;

      &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        p {
          width: 100%;
          text-align: center;
        }

        &:first-child {
          p:not(:last-child) {
            border-right: 1px solid #d7d7d7;
          }
        }

        &:not(:first-child) {
          p {
            color: #1e6a9e;
            font-weight: 600;
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
}