@import "./var-all";

// 구글 폰트 노토 산스
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: $base-font-size;
  color: $base-font-color;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: $base-bg-color;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
  *zoom: 1;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}