@import "./var-all";

// table common styling
table,
table.crTable {
  width: 100%;
  margin: 20px 0;
  border: 1px solid $light-border-color;
  border-collapse: collapse;
  text-align: left;

  thead {
    th {
      position: relative;
      padding: 10px;
      font-weight: 600;
      border: 1px solid $light-border-color;
      border-collapse: collapse;
      cursor: pointer;

      .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>span {
          display: inline-block;
        }
      }

      span {
        word-break: keep-all;
        max-width: 90%;
      }

      &.ascending {
        .filterArrow span:first-child {
          opacity: 1;
          border-bottom: 6px solid #7A80DD;
        }

        .filterArrow span:last-child {
          opacity: 0;
        }
      }

      &.descending {
        .filterArrow span:first-child {
          opacity: 0;
        }

        .filterArrow span:last-child {
          opacity: 1;
          border-top: 6px solid #7A80DD;
        }
      }

      .filterArrow {
        position: relative;
        width: 6px;
        height: 8px;
        float: right;

        span {
          position: absolute;
          left: 0;

          &:first-child {
            top: 0;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 6px solid $basic-btn-color;
          }

          &:last-child {
            top: 100%;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 6px solid $basic-btn-color;
          }
        }

      }
    }

  }

  tbody {
    tr {
      &:hover {
        background-color: #f3f4f6;
      }

      &.noData {
        th {
          padding: 8px 10px;
          text-align: center;
        }
      }

      td {
        height: auto;
        padding: 8px 10px;
        border: 1px solid $light-border-color;
        border-collapse: collapse;
        word-break: break-all;

        &.additionalFunction {
          width: 7rem;
          @include additionalButton();
        }

        &.width250 {
          box-sizing: border-box;
          max-width: 25rem;
        }

        &.blue {
          color: $blue-font-color;
        }

        &.red {
          color: $alert-font-color;
        }

        .buttonLink {
          @include buttonLink($point-color, $admin-point-font-color);

          &.cyan {
            @include buttonLink($point-btn-color, $point-btn-color);

          }
        }

        &>a {
          border-bottom: 1px solid $point-color;
        }

        &.confirmStatus {
          button {
            border: 1px solid $light-border-color;
            padding: 0.6rem 1.2rem;
            cursor: default;
            color: white;
            border: none;

            &.confirming {
              color: #666;
              background-color: #e1e5ec;
            }

            &.confirmDone {
              background-color: $point-color;
            }

            &.rejected {
              background-color: #e73d4a;
            }
          }
        }

        .rowDeleteButton {
          background-color: transparent;
          text-decoration: underline;
          cursor: pointer;
        }

        .filebox {
          label {
            min-width: fit-content;
            background-color: white;
            border: 1px solid $grey-border-color;
            color: $input-font-color;
            font-size: 1.2rem;
            text-align: center;
            padding: 0.6rem;
            cursor: pointer;
          }

          input {
            display: none;
          }
        }

        textarea {
          height: auto;
          min-width: 25rem;
        }
      }
    }
  }

  tfoot {
    tr {
      &:hover {
        background-color: #f3f4f6;
      }

      &.noData {
        th {
          padding: 8px 10px;
          text-align: center;
        }
      }

      td {
        padding: 8px 10px;
        border: 1px solid $light-border-color;
        border-collapse: collapse;
        word-break: break-all;

        &.textBold {
          font-weight: 700;
        }
      }
    }
  }
}

// admin 개별 테이블 스타일링

.indicatorTap {
  display: flex;

  li {
    border: 1px solid $form-border-color;
    padding: 1rem 2rem;
    cursor: pointer;

    &.active {
      background-color: $grey-bg-color;
    }
  }
}

.indicatorTable {
  table {
    thead {
      tr{
        th{
          text-align: center;
          word-break: keep-all;
        }
      }
    }
    tbody {
      tr{
        td{
          text-align: center;
          word-break: keep-all;
        }
      }
    }

    tfoot {
      tr {
        td{
          text-align: center;
          word-break: keep-all;
        }
      }
    }
  }
}

.corporateList {
  margin: 4rem 0;
}