// ================================ variables
// font colors
$table-red-color: red;
$table-blue-color: blue;
$alert-font-color: red;
$blue-font-color: blue;

$red-color: #ed1c24;

// ********* admin
$admin-point-font-color: #5b9bd1;
$admin-sub-font-color: #b7c9d6;
$nav-font-color: #678098;

$point-font-color: #107fc3;
$sub-font-color: #1e6a9e;
$base-font-color: #333333;
$light-dark-color: #3d3d3d;
$dark-font-color: #2d343f;
$input-font-color: #555555;
$grey-font-color: #898989;
$light-grey-font-color: #707070;
$light-font-color: #aeb2c4;
$form-blue-color: #007aff;

// background colors
$point-color: #337ab7;
$green-color: rgb(120, 149, 48);
$light-green-color: rgb(241, 244, 234);
$blue-bg-color: #09C;

$btn-bg-color: #f9f9f9;
$sub-bg-color: #f2f6f9;
$table-bg-color: #fafafa;
$base-bg-color: #f3f3f3;
$white-bg-color: #ffffff;
$grey-bg-color :#e2e0e0;

$form-border-color: #d7d7d7;
$grey-border-color: #d7d7d7;
$light-border-color: #e7ecf1;
$nav-font-color: #252525;

$footer-bg-color: #2d343f;

// button colors
$point-btn-color: #32c5d2;
$modal-btn-color: #0f7ec3;
$basic-btn-color: #e0e0e0;

// font sizes
$label-font-size: 1.2rem;
$paragraph-font-size: 1.2rem;
$base-font-size: 1.4rem;
$title-font-size: 1.8rem;
$header-font-size: 1.6rem;


// ================================ mixin

// ********** admin

// 테이블 위 버튼들 스타일링
@mixin downloadBtn {
  display: inline-block;
  margin-right: 0.3rem;
  padding: 6px 12px;
  background-color: #e9e9e9;
  border: 1px solid #666;
  font-size: 11px;
  color: #000000;

  &:hover {
    background-color: #e0e0e0;
  }
}

// 추가기능 버튼과 모달창 스타일링
@mixin additionalButton {
  position: relative;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
    font-size: 12px;
    background-color: #32c5d2;
    border: 1px solid #2499a3;
    color: white;
    cursor: pointer;
    transition: all 0.3s;

    &:hover,
    &.active {
      background-color: #26a1ab;
      border: 1px solid #18666d;
    }

    span {
      font-size: 12px;
    }
  }

  ul {
    display: none;
    position: absolute;
    width: 200%;
    min-width: 16rem;
    border: 1px solid #eee;
    right: 0;
    top: 35px;
    z-index: 1000;
    background-color: white;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);

    &.active {
      display: block;
    }

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      right: 2rem;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid white;
    }

    li {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      cursor: pointer;

      span {
        margin-right: 6px;
      }
    }
  }
}

@mixin buttonLink($bgColor, $bdColor) {
  border-bottom: none;
  background-color: $bgColor;
  border: 1px solid $bdColor;
  padding: 3px 12px;
  color: white;
}


// 회원관리 헤더 스타일링
@mixin formHeader {
  margin-bottom: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e1e1e1;

  h1 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 600;
    color: #789530;

    em {
      margin-left: 2rem;
      font-size: 1.5rem;
      color: $grey-font-color;
    }
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #1e6a9e;
  }

  strong{ 
    font-weight: 600;
    color: #000000;
    font-size: 1.8rem;
  }
}

// form에 들어가는 버튼 스타일링
@mixin formButton {
  background-color: #f9f9f9;
  border: 1px solid $form-border-color;
  color: $input-font-color;
  font-size: 12px;
  padding: 6px 10px;
}

// 모달창 여는 버튼
@mixin modalOpenButton {
  width: fit-content;
  border: 1px solid $sub-font-color;
  background-color: $sub-font-color;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 0.6rem 1.2rem;

  &.cyanColored {
    background-color: $blue-bg-color;
    border: 1px solid $blue-bg-color;
  }

  &.basicColored {
    background-color: $btn-bg-color;
    border: 1px solid $grey-border-color;
    color: $input-font-color;
    font-weight: 400;
  }
}

@mixin ButtonStyling {
  padding: 0.6rem 1.2rem;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;

  &:hover {
    background-color: #286090;
    border-color: #204d74;
  }
}

@mixin BigButton {
  // 큰 버튼 스타일링
  color: white;
  max-height: 4rem;
  padding: 0.6rem 3.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;

  &.blueColored {
    background-color: $point-color;
  }

  &.greyColored {
    background-color: #949494;
  }

  &.redColored {
    background-color: #ed1c24;
  }
  
  &.greenColored {
    background-color: $green-color;
    border: 1px solid $green-color;
  }
}

@mixin blueButton() {
  width: 30%;
  text-align: center;
  height: 3.6rem;
  line-height: 3.6rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: 1px solid #007aff;
  color: #007aff;
  font-weight: 600;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 122, 255, 0.04);
  }
}