@import "var";

.formHeader {
  @include formHeader();

  &.flex {
    h2 {
      margin-bottom: 0;
    }
  }
}

.dateFilter {
  margin-bottom: 2rem;

  input[type=date] {
    padding: 1rem;
    background-color: #EEEFEF;
    border-radius: 1rem;
  }

  button {
    margin-left: 2rem;
    padding: 1rem 2rem;
    background-color: $point-btn-color;
    color: white;
    border-radius: 1rem;
  }
}

.adminFileBox {
  width: 100%;
  margin: 6px 0;

  .multipleFile {
    width: 100%;
    margin-top: 1rem;

    &>div {
      display: flex;
      margin-bottom: 0.6rem;

      .fileName {
        border: 1px solid $form-border-color;
        flex: 1;
        min-width: 40rem;
        margin-right: 0.6rem;
      }

      label {
        display: flex;
        align-items: center;
      }
    }
  }

  &>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.6rem 0;
  }

  .fileInput {
    display: none;
  }

  label {
    cursor: pointer;
    padding: 6px 10px;
    background-color: $btn-bg-color;
    border: 1px solid $grey-border-color;
    color: $input-font-color;
    font-size: $label-font-size;
    min-width: fit-content;
  }

  .fileName {
    display: inline-block;
    width: 100%;
    height: 3.6rem;
    line-height: 3.2rem;
    padding: 0 1rem;
    box-sizing: border-box;
    width: 16rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


}

.fileBoxWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .fileBox {
    width: 100%;
    margin: 6px 0;

    &>div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .fileInput {
      display: none;
    }

    label {
      cursor: pointer;
      min-width: fit-content;
      padding: 6px 10px;
      background-color: $btn-bg-color;
      border: 1px solid $grey-border-color;
      color: $input-font-color;
      font-size: $label-font-size;
    }

    .fileName {
      display: inline-block;
      width: 100%;
      height: 3.6rem;
      line-height: 3.2rem;
      padding: 0 1rem;
      box-sizing: border-box;
      text-align: right;
    }


  }
}

.onlyWecruit {
  display: inline-block;
  background: #ebefe1;
  padding: 0.3rem 5rem 0.3rem 1rem;
  border: 1px solid #d7d7d7;
}

.allWecruit {
  display: inline-block;
  background: #f1e9e0;
  padding: 0.3rem 5rem 0.3rem 1rem;
  border: 1px solid #d7d7d7;
}

.onlySerchFirm {
  display: inline-block;
  background: #dff1f0;
  padding: 0.3rem 5rem 0.3rem 1rem;
  border: 1px solid #d7d7d7;
}

.radioList {
  &>div {
    display: flex;
    align-items: center;
    background-color: #ebefe1;
    border: 1px solid #d7d7d7;
    padding: 0.3rem 5rem 0.3rem 1rem;
    margin-bottom: 1rem;

    &:nth-of-type(2) {
      background-color: #f1e9e0;
    }

    &:last-of-type {
      background-color: #dff1f0;
    }

    label {
      max-width: 100%;
      margin-left: 6px;
      font-size: 1.4rem;
    }

  }
}

article {
  width: 100%;

  i {
    padding: 15px 0px 25px;
    display: block;
    text-align: center;
    font-size: 1.2rem;
  }

  form {
    box-sizing: border-box;
    width: 100%;

    h2 {
      margin-bottom: 2rem;
      font-size: 1.8rem;
      font-weight: 600;
      color: #1e6a9e;

      em {
        color: $grey-font-color;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    .formButton {
      @include formButton();
      margin-left: 6px;
    }

    .modalButtonStyling {
      margin-top: 6px;
      @include modalOpenButton();
    }

    .fileUploadGuide {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      color: $grey-font-color;
      font-weight: 700;
      font-size: $paragraph-font-size;
      line-height: 1.8rem;
    }

    .formWrap {
      width: 100%;
      box-sizing: border-box;
      color: $input-font-color;
      border: 1px solid $form-border-color;

      background-color: #f3f3f3;
      margin-bottom: 2rem;
      padding: 1rem;

      span.editorTitle {
        display: block;
        color: $input-font-color;
        font-size: 1.2rem;
        padding: 1rem;
        background-color: white;
        border: 1px solid $form-border-color
      }

      .editorText {
        background-color: white;
        border: 1px solid $form-border-color;
        padding: 2rem;
      }

      .infoBox {
        text-align: center;
        padding: 3rem 0px;
        font-size: 1.2rem;
        color: $light-grey-font-color;
        background-color: $base-bg-color;
      }
    }

    button {
      background-color: transparent;
    }

    label {
      display: inline-block;
      min-width: 12rem;
      font-size: 1.2rem;
    }

    .labelSpan {
      display: inline-block;
      min-width: 12rem;
      font-size: 1.2rem;
      color: $input-font-color;
    }

    .inputText {
      line-height: 3.2rem;
      color: #000000;
    }

    .inbox {
      display: flex;
      align-items: center;
      width: 100%;

      background-color: $base-bg-color;
      border: 1px solid $form-border-color;
      padding: 6px 0 6px 10px;
      margin-top: 5px;

      span {
        margin-right: 5rem;
      }
    }

    textarea {
      width: 100%;
      background-color: #ffffff;
      border: 1px solid $form-border-color;
    }

    input[type=text],
    textarea,
    select {
      flex: 1;
      outline: none;

      &:active,
      &:focus {
        border: 1px solid $point-btn-color;
      }

      &:not(:first-child) {
        margin-left: 3px;
      }
    }

    select {
      min-width: 13rem;

      &.shortWidth {
        min-width: 1.5rem;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
      font-weight: 600;

      &>*:not(.recommendModal) {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 3rem;
        height: 4rem;
        cursor: pointer;

        &:first-child {
          margin-right: 1rem;
        }
      }

      .pointColoredBtn,
      input[type=submit] {
        background-color: $point-color;
        color: white;
      }

      &>*:not(.recommendModal):nth-child(2),
      a {
        background-color: #d7d7d7;
        color: #555555;
      }



    }

    // 라디오 버튼 스타일링
    .radioInput {
      display: flex;
      align-items: center;

      label {
        display: inline-block;
        min-width: 20px;
        font-size: 1.4rem;
        margin-left: 5px;
      }

      input:not(:first-of-type) {
        margin-left: 2rem;
      }
    }

    .extraInput {
      margin-top: 6px;
    }

    // 체크 박스 스타일링
    input[type=checkbox] {
      margin-left: 3rem;
      vertical-align: middle;
    }

    ul {
      margin-bottom: 1rem;

      &.oneCol {
        display: flex;
        align-items: center;

        padding: 1rem 2rem;
        border: 1px solid $form-border-color;
        background-color: #ffffff;

        li {
          display: flex;
          align-items: flex-start;

          &.directionColumn {
            flex-direction: column;
          }

          &>label,
          span.labelSpan {
            box-sizing: border-box;
            display: inline-block;
            line-height: 28px;
            height: 28px;

            &.maxWidth120 {
              max-width: 12rem;
            }
          }

          &>div {
            margin-bottom: 3px;
          }

          em {
            margin-left: 6px;
            line-height: 3.2rem;
            font-weight: 600;
          }
        }

        .searchAddress {
          min-width: 60px;
          margin-right: 3px;
          padding: 0.6rem 1rem;
          background-color: #f9f9f9;
          border: 1px solid $form-border-color;
          color: $input-font-color;
          font-size: 12px;
          cursor: pointer;
        }

        .fullWidth {
          display: inline-block;
          min-width: 40rem;
        }

        .detailAddress {
          margin-left: 0;
        }

        .checkboxList {
          label {
            min-width: fit-content;
            width: fit-content;
            margin-left: 3px;
            margin-right: 1rem;
          }

          input {
            width: fit-content;
            margin-left: 0;
          }
        }
      }


      &.twoCol {
        width: 100%;
        display: flex;
        gap: 1.2rem;

        li {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          max-width: 50%;
          flex: 1;
          padding: 10px 10px 10px 20px;
          border: 1px solid $form-border-color;
          background-color: #ffffff;
        }
      }
    }
  }
}