.adminMainGraph {
  width: 82vw;
  padding: 12px 20px 15px;
  background-color: white;

  .graphTap {
    display: flex;
    background-color: #EEEFEF;
    border-radius: 1rem 1rem 0 0;
    padding: 2rem;

    li {
      padding: 1rem 2rem;
      border-radius: 1rem;
      font-weight: 600;
      cursor: pointer;
      color: #2F3437;
      
      &.active,
      &:hover {
        background-color: #D6D8D8;
      }
    }
  }

  .graphIndex{
    display: flex;
    align-items: center;
    background-color: #EEEFEF;
    padding: 1rem 2rem;

    li{
      display: flex;
      margin-right: 2rem;
      font-size: 1.2rem;
      font-weight: 600;

      &.redColored {
        color: #EB4B62;
        span {
          background: #EB4B62;
        }
      }
  
      &.greyColored {
        color: #727273;

        span {
          background-color: #727273;
        }
      }

      &.blackColored {
        color: #2F3437;

        span {
          background-color: #2F3437;
        }
      }
  
      span {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.6rem;
        border-radius: 50%;
      }
      div {
        strong{
          font-size: 2.4rem;
        }
        p:last-child{
          font-weight: 700;
        }
      }
    }
    
  }

  .graphWrap {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    background-color: #EEEFEF;
    border-radius: 0 0 1rem 1rem;
  }

  article {
    display: flex;
    margin-top: 2rem;

    .statsBox,
    .candidatePosition,
    .joinRequest {
      width: 40rem;
      margin-right: 2rem;
      padding: 2rem;
      background-color: #EEEFEF;
      border-radius: 1.5rem;

      &:first-child p.statsTitle {
        color: #EB4B62;
      }

      &:nth-child(2) p.statsTitle {
        color: #03DAC5;
      }

      &:last-child p.statsTitle {
        color: #2F3437;
      }

      p.statsTitle {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        font-weight: 600;
        vertical-align: middle;

        span {
          margin-right: 0.6rem;
          font-size: 1.6rem;
        }
      }

      ol {
        & > li {
          display: flex;
          padding: 1rem 0;

          .requestButton {
            span {
              display: inline-block;
              padding: 1rem 2rem;
              font-weight: 600;
              border-radius: 1rem;
              cursor: pointer;

              &:first-child {
                margin-right: 1rem;
                background-color: #F0D6D2;
                color: #FF2700;
              }
              &:last-child {
                background-color: #D6D8D8;
                color: #2F3437;
              }
            }
          }

          &>div:first-of-type {
            flex: 1;
            display: flex;
            align-items: center;
            margin-right: 4rem;

            figure {
              width: 4.2rem;
              height: 4.2rem;
              margin-right: 2rem;
              background-color: white;
              border-radius: 15rem;
            }

            &>div {
              display: flex;
              flex-direction: column;

              span:first-child {
                font-weight: 600;
                font-size: 1.6rem;
              }
            }
          }

          ul {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
              display: flex;
              flex-direction: column;

              span:first-of-type {
                font-weight: 600;
                font-size: 1.6rem;
              }

            }
          }
        }
      }

    }
  }
}