@import "var";

.adminCustom {
  border: 1px solid $form-border-color;
  background-color: white;
  padding: 3rem;

  .recruitLists {
    border: none;

    .ingList {

      .sectionTitle {
        font-weight: 600;

        span {
          margin-right: 1rem;
          color: $point-color;
          font-size: 2.4rem;
        }
      }
    }
  }

  // 리크루터, 후보자 관리 공통 스타일링
  .recruiterList,
  .candidateList {
    select {
      display: inline-block;
      box-sizing: border-box;
      height: 3.2rem;
      padding: 0 1rem;
      color: $input-font-color;
      font-size: 12px;
      border: 1px solid $grey-border-color;
      line-height: 3.2rem;
    }

    .stars {

      span {
        vertical-align: middle;
        font-size: 1.5rem;
        color: $point-color;
        font-weight: 700;

        &.active {
          content: 'e885';
          font-family: 'Material Icons';
        }
      }
    }

    h5 {
      margin-bottom: 1rem;
      line-height: 3rem;
      color: $light-grey-font-color;
      font-weight: 600;

      strong {
        font-size: $title-font-size;
        color: $sub-font-color;
      }
    }

    &>form {
      display: flex;
      align-items: center;

      &~div {

        select {
          display: inline-block;
          box-sizing: border-box;
          height: 3.2rem;
          margin-right: 1rem;
          padding: 0.6rem 1rem;
          color: $input-font-color;
          font-size: 12px;
          border: 1px solid $grey-border-color;
          line-height: 3.2rem;
        }

      }
    }

    ul.searchFilters {
      display: flex;
      gap: 0 3px;

      li {
        display: flex;
        // align-items: center;
        cursor: pointer;
        background-color: #ffffff;
        border: 1px solid $grey-border-color;
        color: $input-font-color;
        font-size: $label-font-size;
        padding: 0.6rem 1.5rem;

        &>span {
          display: inline-block;
          margin-right: 0.6rem;
        }

        &.ascending {
          .filterArrow span:first-child {
            opacity: 1;
            border-bottom: 6px solid #7A80DD;
          }

          .filterArrow span:last-child {
            opacity: 0;
          }
        }

        &.descending {
          .filterArrow span:first-child {
            opacity: 0;
          }

          .filterArrow span:last-child {
            opacity: 1;
            border-top: 6px solid #7A80DD;
          }
        }

        .filterArrow {
          position: relative;
          width: 6px;
          height: 8px;
          top: 2px;

          span {
            position: absolute;
            left: 0;

            &:first-child {
              top: 0;
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-bottom: 6px solid $basic-btn-color;
            }

            &:last-child {
              top: 100%;
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 6px solid $basic-btn-color;
            }
          }

        }
      }
    }

    ul.recruiters {
      &>li {
        display: flex;
        gap: 0 2rem;
        border-bottom: 1px solid $grey-border-color;
        border-top: 1px solid $grey-border-color;

        &:first-child {
          margin-top: 2rem;
        }

        p {
          span {
            display: block;
            text-decoration: underline;
            text-align: right;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  // 리크루터 관리 개별 스타일링
  .recruiterList {
    figure {
      position: relative;
      width: 12rem;
      height: 12rem;
      margin-top: 2rem;
      overflow: hidden;
      border-radius: 50%;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        object-fit: cover;
      }
    }

    .recruiterInfo {
      position: relative;
      flex: 2;
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      &>div:first-of-type {
        display: flex;
        align-items: center;
        gap: 0 2rem;
        margin-bottom: 2rem;

        .recruiterName {
          font-size: 1.8rem;
          font-weight: 600;

          em {
            font-size: 1.2rem;
          }
        }

        .buttonStyling {
          color: $light-grey-font-color;
          background-color: transparent;
          font-size: 1.4rem;
          border-bottom: 1px solid $light-grey-font-color;
        }

      }

      .flag {
        position: absolute;
        top: 0;
        right: 10%;
      }

      &>p {
        line-height: 2.4rem;
        margin-top: 1rem;

        &:nth-of-type(2) {
          width: inherit;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          word-wrap: break-word;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .showMore {
        cursor: pointer;
        display: block;
        text-align: right;
        text-decoration: underline;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }
    }

    .selectRecruiter {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $base-bg-color;

      &>button {
        width: 80%;

        &.selectedRecruiter {
          padding: 6px 2.5rem;

          border: 1px solid $point-color;
          background-color: transparent;
          color: $point-color;
          font-weight: 600;
        }

      }

      ul {
        display: flex;
        width: 100%;
        margin-top: 3rem;

        li {
          flex: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          text-align: center;

          &:not(:last-child) {
            span {
              border-right: 1px solid $grey-border-color;
            }
          }

          span {
            width: 100%;
            display: inline-block;
            margin-bottom: 1rem;
            font-size: 1.2rem;
          }

          strong {
            word-break: keep-all;
            text-align: center;
            font-size: 1.4rem;
            color: $point-color;
            font-weight: 600;

            &.noData {
              display: none;
            }
          }

        }
      }

      .noOptions {
        background-color: white;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 1rem 0;
      }

    }
  }

  // 후보자 관리 개별 스타일링
  .candidateList {
    .stars {
      cursor: pointer;

      span:hover {
        content: 'e885';
        font-family: 'Material Icons';
      }
    }

    .blueButton {
      background-color: #3495d4;
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 0.6rem 2.5rem;
      border: 1px solid $grey-border-color;
    }

    .candidateButtons {
      display: flex;
      align-items: center;
      gap: 0 0.6rem;

      button:first-of-type {
        margin-right: 2rem;
      }

      button:last-of-type {
        margin-left: 1rem;
      }
    }

    .candidateInfo {
      flex: 1;
      padding: 2rem;

      form {
        textarea {
          width: 100%;
        }
      }

      &>div:first-child {
        display: flex;
        align-items: center;
        gap: 0 2rem;
        margin-bottom: 2rem;

        .candidateName {
          font-size: 1.8rem;
          font-weight: 600;

          em {
            font-size: 1.2rem;
          }
        }

        span {
          b {
            font-weight: 600;
          }
        }
      }

      &>p {
        margin-bottom: 2rem;
        color: $light-grey-font-color;

        strong {
          font-weight: 600;
        }

        button {
          padding: 0;
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          color: $light-grey-font-color;
          border-bottom: 1px solid $light-grey-font-color;
        }

        time {
          border-left: 1px solid $grey-border-color;
          margin-left: 1rem;
          padding-left: 1rem;
        }
      }

    }

    .notification {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem 0;
      background-color: #C3E2F0;

      .finalDecisionDone {
        background-color: $grey-font-color;
        padding: 0.6rem 1rem;
        text-align: center;
        color: white;
      }

      .memo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 1rem;

        button {
          background-color: white;
          border: 1px solid $grey-border-color;
          color: $input-font-color;
          font-size: 1.2rem;
          padding: 0.6rem 1rem;
        }

        textarea {
          display: block;
          margin: 1rem 0 2rem;
        }
      }
    }
  }


  section {

    // 검수중, 진행중 채용공고 서브페이지 스타일링
    .confirmingList,
    .ingList,
    .doneList {
      .ingListColumn {
        display: flex;
        flex-direction: column;
        padding: 0;

        &>.listTop {
          padding: 2rem;
          display: flex;
          justify-content: space-between;
        }

        .idManage {
          display: flex;
          justify-content: space-between;
          align-items: center;

          box-sizing: border-box;
          width: 100%;
          height: 3.5rem;
          padding-left: 2rem;
          border-top: 1px solid $grey-border-color;

          span {
            color: rgb(120, 149, 48);
            font-size: 1.3rem;
            font-weight: 600;
          }

          a {
            display: inline-block;
            height: 100%;
            line-height: 3.5rem;
            padding: 0 1rem;
            background-color: $sub-font-color;
            font-size: 1.2rem;
            color: white;
          }
        }
      }

      &>ul {
        &>li {
          display: flex;
          justify-content: space-between;
          border: 1px solid $grey-border-color;
          padding: 2rem;
          margin-bottom: 2rem;

          .qnaStatus {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
              display: block;
              flex: 1;
              padding: 3px 0;
              background-color: #E4EFF5;
              border-radius: 3rem;
              text-align: center;
              font-size: 1.1rem;

              span {
                border-bottom: 1px solid $grey-bg-color;
                color: $light-grey-font-color;

                strong {
                  color: #0072bd;
                }
              }
            }

          }

          .listLeft {

            h3 {
              display: inline-block;
              max-width: 45rem;
              margin-bottom: 2rem;
              color: $dark-font-color;
              font-weight: 600;
              font-size: 1.6rem;
              line-height: 2.4rem;

              &:hover {
                text-decoration: underline;
              }
            }

            button.recruitingClosed {
              box-sizing: border-box;
              cursor: default;
              border: 1px solid $red-color;
              background-color: transparent;
              color: $red-color;
              font-weight: 600;
              padding: 6px 2.5rem;
              font-size: 12px;
            }

            p {
              max-width: 50rem;
              font-size: $paragraph-font-size;
              color: $grey-font-color;
              line-height: 2rem;

              button {
                margin-left: 3px;
                padding: 0 1rem;
                color: $input-font-color;
                font-size: 1.2rem;
                background-color: white;
                border: 1px solid $grey-border-color;
              }
            }

            &>button:not(.modalButtonStyling) {
              background-color: #ffffff;
              border: 1px solid $grey-border-color;
              color: $grey-font-color;
              font-size: 1.1rem;
              padding: 2px 12px;
              margin-left: 3px;
            }
          }

          span.confirmingStatus {
            width: 5rem;
            height: 5rem;
            font-weight: 600;
            text-align: center;
            line-height: 5rem;
            display: inline-block;
            border-radius: 50%;
            background-color: #DBECF6;
            color: $point-font-color;

            &.rejected {
              background: #FFD9D9;
              color: #D72424;
            }
          }
        }

        div.listRight {

          &>p {
            text-align: center;
            width: 100%;
            margin-top: 7px;
            font-size: 1.1rem;
          }

          div.threeSections {
            display: flex;

            &>div {
              display: flex;
              flex-direction: column;
              align-items: center;

              &:not(:last-child) {
                span {
                  border-right: 1px solid $grey-border-color;
                }
              }

              span {
                display: inline-block;
                padding: 0 1rem;
                font-size: 1.1rem;
                color: $grey-font-color;
              }

              &:nth-child(1) {
                a {
                  color: #789530;
                }
              }

              a {
                display: inline-block;
                box-sizing: border-box;
                margin: 1rem 0;
                font-size: $paragraph-font-size;
                font-weight: 700;
                border-bottom: 1px solid $grey-border-color;

                strong {
                  color: $red-color;
                }
              }

            }
          }


        }

      }

    }

    // Q&A 관리 개별 스타일링
    .qnaList {
      p {
        margin: 0.6rem 0;
        font-size: 1.2rem;
        line-height: 1.8rem;

        &.lightColored {
          color: #b0b0b0;
        }
      }

      img {
        width: 1.2rem;
        margin-right: 3px;
        vertical-align: middle;
      }

      .commentInput {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        gap: 0 6px;

        input[type=text] {
          flex: 1;
        }
      }

      &>div:first-child {
        border-bottom: 1px solid $grey-border-color;

        h5 {
          font-weight: 600;
          padding: 1rem 2rem;
          border: 1px solid $grey-border-color;
        }

        span {
          font-size: 1.2rem;
          color: $grey-font-color;

          strong {
            font-weight: bold;
          }
        }
      }

      &>ul {
        padding: 1rem 1rem 1rem 2rem;

        &>li {
          margin-top: 2rem;
          padding-bottom: 2rem;
          border-bottom: 1px solid $grey-border-color;

          span {
            font-size: 1.2rem;

            strong {
              margin-right: 1rem;
              font-weight: 600;
              border-bottom: 1px solid $base-font-color;
            }

            time {
              margin-left: 1rem;
            }

            span {
              font-size: 1.2rem;
            }
          }

          p {
            margin: 1rem 0;
          }

          .reply {
            display: flex;
            align-items: center;
            gap: 0 6px;

            input[type=text] {
              flex: 1;
            }

            padding-top: 1rem;
          }

          .replyText {
            margin-left: 2rem;

            li {
              padding: 1rem 0;
              border-bottom: 1px solid $light-border-color;
            }
          }

          .secretComment {
            span.material-icons {
              vertical-align: middle;
              color: $point-btn-color;
            }
          }
        }
      }
    }

  }
}

.sectionTitle {
  margin-bottom: 2rem;
  font-weight: 600;

  span {
    margin-right: 1rem;
    font-size: 2.4rem;
    color: $point-color;
  }

  em {
    font-size: 1.6rem;
    color: $grey-font-color;
  }
}

.adminRecruiterStatics {
  section {
    padding: 3rem;
  }
}

// 마이페이지 스타일링
.adminRecruiterInfo {
  .userInfo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;
    border: 1px solid $grey-border-color;

    .userInfoLeft {
      flex: 2;
      display: flex;
      padding: 2rem;

      figure {
        position: relative;
        width: 10rem;
        height: 10rem;
        border: 1px solid #c4c4c4;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 3rem;

        &>img {
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
          object-fit: cover;
        }
      }

      &>div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-right: 10%;

        h3 {
          color: #3b3b3b;
          font-size: 1.8rem;
          font-weight: 600;
        }

        &>p {
          padding-top: 1.5rem;
          border-top: 1px solid $grey-border-color;
          font-size: 1.2rem;
          color: $grey-font-color;

          span {
            padding: 0 0.6rem;

            &:not(:last-child) {
              border-right: 1px solid $grey-border-color;
            }
          }

        }
      }
    }




    .selectRecruiter {
      flex: 1;
      display: flex;
      padding: 2rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $base-bg-color;

      &>button {
        width: 80%;

        &.selectedRecruiter {
          padding: 6px 2.5rem;

          border: 1px solid $point-color;
          background-color: transparent;
          color: $point-color;
          font-weight: 600;
        }
      }

      ul {
        display: flex;
        width: 100%;
        margin-top: 3rem;

        li {
          flex: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          text-align: center;

          &:not(:last-child) {
            span {
              border-right: 1px solid $grey-border-color;
            }
          }

          span {
            width: 100%;
            display: inline-block;
            margin-bottom: 1rem;
            font-size: 1.2rem;
          }

          strong {
            word-break: keep-all;
            text-align: center;
            font-size: 1.4rem;
            color: $point-color;
            font-weight: 600;

            &.noData {
              display: none;
            }
          }

        }
      }

      .noOptions {
        background-color: white;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 1rem 0;
      }

    }

  }

  .userActivity {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e1e1e1;

    ul {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin: 1rem 0;
      padding: 1rem 0;

      &:not(:last-child) {
        border-right: 1px solid #e1e1e1;
      }

      li {
        &:first-child {
          font-size: 1.2rem;
          color: $grey-font-color;
        }

        &:last-child {
          font-size: 1.8rem;
          margin: 1rem 0 0.5rem;

          em {
            font-size: 1.4rem;
          }

        }
      }
    }
  }

  .userActivity {
    li {
      &:last-child {
        color: #0778c0;
      }
    }
  }

  .average {
    li {
      &:last-child {
        color: $green-color;
      }
    }
  }

  .selfIntro {
    background: $base-bg-color;
    padding: 3rem 0 0;
    text-align: center;

    h4 {
      margin-bottom: 2rem;
      font-size: 1.8rem;
      color: #39393a;
      font-weight: 600;
    }

    .introductionText {
      background-color: white;
      margin-top: 2rem;
      padding: 2rem 0;
      border: 1px solid $form-border-color;
    }
  }
}

.employerComment {
  margin-top: 3rem;

  h3 {
    font-size: 1.8rem;
    color: $input-font-color;
    font-weight: bold;

    em {
      color: $sub-font-color;
      font-size: 1.2rem;
      margin-left: 3px;
    }
  }

  ul {
    margin: 1rem 0 3rem;

    li {
      display: flex;
      gap: 0 1rem;
      padding: 1rem 0 1rem 3rem;
      border-top: 1px solid $grey-bg-color;
      border-bottom: 1px solid $grey-bg-color;
      font-size: 1.2rem;

      p {
        color: $grey-font-color;
      }
    }
  }
}