@import "var";

nav {
  position: relative;
  z-index: 800;
  max-width: 235px;
  margin-right: 1rem;
  background-color: $white-bg-color;

  &.close {
    width: 5rem;

    .submenu{
      h2 {
        opacity: 0;
      }
    }

    .subpages {
      a{
        &:hover{
          box-shadow: 5px 5px 0 #b8c4ce;
          b{
            opacity: 1;
          }
        }

        b{
          opacity: 0;
          box-shadow: 5px 5px 0 #b8c4ce;
          background-color: $sub-bg-color;
        }
      }
    }
    
  }

  .submenu {
    h2 {
      opacity: 1;
      box-sizing: border-box;
      max-height: 52px;
      overflow: hidden;
      padding: 25px 15px 10px;
      font-size: 1.3rem;
      font-weight: 600;
      color: $admin-point-font-color;
    }

    .subpages {
      display: flex;
      flex-direction: column;

      a {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 12px 15px;
        height: 4.6rem;
        color: $nav-font-color;

        &:hover {
          background-color: $sub-bg-color;
          color: $admin-point-font-color;

          span {
            color: $admin-point-font-color;
            margin: 0;
          }

          &.closeHover {
            box-shadow: 4px 4px 0 #b7c9d67c;
          }
        }

        b {
          display: block;
          height: 4.6rem;
          min-width: 20rem;
          line-height: 4.6rem;
          margin-left: 5px;
        }

        &>span {
          font-size: 2rem;
          color: $admin-sub-font-color;
        }
      }
    }
  }
  
}